@import "../../../../scss/dark.theme";
@import "../themes/index";

button {
  padding: 1px 12px;
  margin: 0;
  background-color: $tabFrameColor;
  position: relative;

  & > .icon-ellipse {
    font-size: .5em;
    color: $fallingColor;
    position: absolute;
    left: 50%;
    top: 2%;
  }
  
}

.side-navigation {
  width: 125px;
  padding: 0;
  background-color: $tabFrameColor!important;

  li {
    padding: 10px;
  }

}
.change-name {
  font-size: 12px;
  font-weight: 600px;
  line-height: 14px;
  color: $titleColor!important;
  cursor: default;

  button {
    font-size: 12px;
    color: $textColor60;
    background-color: transparent;
    float: right;
  }
}
.log-out {
  position: relative;
  font-size: 10px;
  line-height: 12px;
  color: $textColor60;

  i {
    margin-right: 5px;
    font-size: 12px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    width: 105px;
    height: 1px;
    background-color: $lightBackground;
  }
}
