@import "../../../../scss/dark.theme";
@import "../themes/index";

button {
  padding: 1px 12px;
  margin: 0;
  background-color: $tabFrameColor;
  position: relative;
  height: 28px;

  & > .icon-ellipse {
    font-size: .5em;
    color: $fallingColor;
    position: absolute;
    left: 50%;
    top: 2%;
  }

}

.side-navigation {
  width: 125px;
  padding: 4px;
  border-radius: 2px;
  background-color: $light !important;
  box-shadow: 0px 0px 10px #15161D;

  li {
    padding: 6px;
    user-select: none;
  }

  li.divider {
    margin: 5px 0;
    padding: 0;
  }
}



.change-name {
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1rem;
  color: $titleColor !important;
  cursor: default;
  display: flex;

  .username {
    display: block;
  }

  &.account-info {
    cursor: pointer;
  }

  button {
    padding: 0;
    font-size: 12px;
    color: $textColor60;
    background-color: transparent;
    height: auto;
    margin-left: auto;
    transition: color .2s ease;

    &:hover {
      color: $primary;
    }
  }
}

.log-out {
  position: relative;
  font-size: 11px;
  line-height: 16px;
  color: $textColor60;
  display: flex;
  align-items: center;
  user-select: none;

  i {
    margin-right: 5px;
    font-size: 12px;
  }
}
