<window-header
  (contextmenu)="grid.createComponentModal($event)"
  className="widget" [window]="this">

  <account-select
    (accountChange)="handleAccountChange($event)"
  ></account-select>
  <div (click)="openOrderForm()" class="add-container">
    <i class="icon-add"></i>
  </div>
  <!-- <nz-select class="ml-1 regular"
             [nzOptionHeightPx]="22"
             (ngModelChange)="updateTitle()" [(ngModel)]="orderType" nzDropdownClassName="order-dropdown-list" >
    <nz-option *ngFor="let item of orderTypes" [nzLabel]="item" [nzValue]="item"></nz-option>
  </nz-select>
  <nz-select
    [nzOptionHeightPx]="22"
    class="ml-1 regular" (ngModelChange)="updateTitle()" [(ngModel)]="orderStatus" nzDropdownClassName="order-dropdown-list">
    <nz-option *ngFor="let item of orderStatuses" [nzLabel]="item" [nzValue]="item"></nz-option>

  </nz-select> -->

</window-header>
<div class="wrapper">
  <div class="toolbar">
    <!-- <div (click)="selectComponent.setOpenState(true)" class="select-container">
      <nz-select
        #selectComponent
        [nzShowArrow]="false"
        [nzDropdownClassName]="'toolbar-dropdown'" [(ngModel)]="status">
        <nz-option nzValue="Open" nzLabel="Open"></nz-option>
        <nz-option nzValue="Close" nzLabel="Close"></nz-option>
      </nz-select>
      <i class="icon-arrow-dropdown"></i>
    </div> -->
  </div>

  <ng-template #headerPanelTemplate>
    <div class="d-flex align-items-center">
      <button><i class="icon-group"></i></button>

      <button nz-dropdown
              [nzDropdownMenu]="menu"
              [nzTrigger]="'click'"
              (nzVisibleChange)="cancelMenuOpened = $event"
              class="cancel-button">
        Cancel
        <i class="arrow" [ngClass]="{'icon-arrow-down': !cancelMenuOpened, 'icon-arrow-up': cancelMenuOpened}"></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu class="cancel-dropdown-list">
          <li nz-menu-item (click)="cancelAllOrders()">All</li>
          <li nz-menu-item (click)="cancelSelectedOrders()">Selected</li>
        </ul>
      </nz-dropdown-menu>

      <button><i class="icon-duplicate"></i></button>
      <button><i class="icon-add"></i></button>

      <div class="submit-buttons">
        <button><i class="icon-stop"></i></button>
        <button><i class="icon-play"></i></button>
      </div>

      <div class="reprices-buttons">
        <button title="Tick up"><i class="icon-arrow-up"></i></button>
        <button title="Tick down"><i class="icon-arrow-down"></i></button>
      </div>
    </div>
  </ng-template>

  <nz-tabset [nzSelectedIndex]="2" [nzTabBarExtraContent]="headerPanelTemplate">
    <nz-tab nzTitle="Working" (nzClick)="changeTab('Working')">
      <data-grid [(showHeaderPanel)]="showHeaderPanel" [showHeaderPanelInContextMenu]="true" #grid [items]="items" [handlers]="handlers" [columns]="columns"></data-grid>
    </nz-tab>
    <nz-tab nzTitle="Filled" (nzClick)="changeTab('Filled')">
      <data-grid [(showHeaderPanel)]="showHeaderPanel" [showHeaderPanelInContextMenu]="true" #grid [items]="items" [handlers]="handlers" [columns]="columns"></data-grid>
    </nz-tab>
    <nz-tab nzTitle="All" (nzClick)="changeTab('Show All')">
      <data-grid [(showHeaderPanel)]="showHeaderPanel" [showHeaderPanelInContextMenu]="true" #grid [items]="items" [handlers]="handlers" [columns]="columns"></data-grid>
    </nz-tab>
<!--    <nz-tab nzTitle="History">
      Content of Tab Pane 2
    </nz-tab>-->
  </nz-tabset>
</div>
