@import "themes/index";

$selectHeightContainer: 32px;
$selectMarginBottom: 15px;

:host {
  display: block;
  height: 100%;
  overflow: auto;
  width: 100%;

  ::ng-deep {
    window-header {
      .title {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .regular {
      nz-select-item {
        font-weight: 400;
      }
    }

    .ant-tabs-bar {
      margin-left: 8px;
      margin-bottom: 6px;
      border: none;
    }

    .ant-tabs-nav .ant-tabs-tab {
      margin-right: 26px;
      padding: 6px 0;
      font-size: 0.8rem;
      line-height: 1.2rem;
    }

    .ant-tabs-ink-bar {
      background: $primary;
    }

    .ant-tabs-nav .ant-tabs-tab-active {
      color: $primary;
    }

    .wrapper {
      height: 100%;
    }

    .ant-tabs-top-content {
      height: calc(100% - 34px);
    }
  }

  .select-container {
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: $selectMarginBottom;
    height: $selectHeightContainer;
    max-width: 140px;
    min-width: 100px;
  }

  .icon-arrow-dropdown {
    position: absolute;
    font-size: 4px;
    cursor: pointer;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .account {
    display: inline-block;
  }

  .toolbar {
    display: flex;
  }
}

nz-tabset {
  height: 100%;
}

.add-container {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  cursor: pointer;
  align-items: center;
  background: $darkBackground;
  border-radius: 2px;

  i {
    font-size: 9px;
    line-height: 1;
  }
}

::ng-deep {
  .order-dropdown-list {
    min-width: 130px;

    nz-option-item {
      &:first-child {
        border-bottom: 1px solid #51535A;
      }
    }
  }
}
