<window-header
  (contextmenu)="grid.createComponentModal($event)"
  className="widget" [window]="this">

  <account-select
    (accountChange)="handleAccountChange($event)"
  ></account-select>
  <div (click)="openOrderForm()" class="add-container">
    <i class="icon-add"></i>
  </div>
  <!-- <nz-select class="ml-1 regular"
             [nzOptionHeightPx]="22"
             (ngModelChange)="updateTitle()" [(ngModel)]="orderType" nzDropdownClassName="order-dropdown-list" >
    <nz-option *ngFor="let item of orderTypes" [nzLabel]="item" [nzValue]="item"></nz-option>
  </nz-select>
  <nz-select
    [nzOptionHeightPx]="22"
    class="ml-1 regular" (ngModelChange)="updateTitle()" [(ngModel)]="orderStatus" nzDropdownClassName="order-dropdown-list">
    <nz-option *ngFor="let item of orderStatuses" [nzLabel]="item" [nzValue]="item"></nz-option>

  </nz-select> -->

</window-header>
<div class="wrapper">
  <div class="toolbar">
    <!-- <div (click)="selectComponent.setOpenState(true)" class="select-container">
      <nz-select
        #selectComponent
        [nzShowArrow]="false"
        [nzDropdownClassName]="'toolbar-dropdown'" [(ngModel)]="status">
        <nz-option nzValue="Open" nzLabel="Open"></nz-option>
        <nz-option nzValue="Close" nzLabel="Close"></nz-option>
      </nz-select>
      <i class="icon-arrow-dropdown"></i>
    </div> -->
  </div>
  <nz-tabset [nzSelectedIndex]="2">
    <nz-tab nzTitle="Working" (nzClick)="changeTab('Working')">
      <data-grid #grid [items]="items" [handlers]="handlers" [columns]="columns"></data-grid>
    </nz-tab>
    <nz-tab nzTitle="Filled" (nzClick)="changeTab('Filled')">
      <data-grid #grid [items]="items" [handlers]="handlers" [columns]="columns"></data-grid>
    </nz-tab>
    <nz-tab nzTitle="All" (nzClick)="changeTab('Show All')">
      <data-grid #grid [items]="items" [handlers]="handlers" [columns]="columns"></data-grid>
    </nz-tab>
<!--    <nz-tab nzTitle="History">
      Content of Tab Pane 2
    </nz-tab>-->
  </nz-tabset>
</div>
