<window-header className="widget" [window]="this">

  <account-select
    size="small"
    className="custom-form-control type-select account-select"
    (accountChange)="handleAccountChange($event)"
  ></account-select>
  <div (click)="openOrderForm()" class="add-container">
    <i class="icon-add"></i>
  </div>
  <nz-select nzDropdownClassName="order-dropdown-list" class="custom-form-control type-select">
    <nz-option *ngFor="let item of orderTypes" [nzLabel]="item" [nzValue]="item"></nz-option>
  </nz-select>
  <nz-select nzDropdownClassName="order-dropdown-list" class="custom-form-control status-select">
    <nz-option *ngFor="let item of orderStatus" [nzLabel]="item" [nzValue]="item"></nz-option>

  </nz-select>

</window-header>
<div class="wrapper">
  <div class="toolbar">
    <!-- <div (click)="selectComponent.setOpenState(true)" class="select-container">
      <nz-select
        #selectComponent
        [nzShowArrow]="false"
        [nzDropdownClassName]="'toolbar-dropdown'" [(ngModel)]="status">
        <nz-option nzValue="Open" nzLabel="Open"></nz-option>
        <nz-option nzValue="Close" nzLabel="Close"></nz-option>
      </nz-select>
      <i class="icon-arrow-dropdown"></i>
    </div> -->
  </div>
  <nz-tabset>
    <nz-tab nzTitle="Working orders">
      <data-grid #grid [items]="builder.items" [handlers]="handlers" [columns]="columns"></data-grid>

    </nz-tab>
<!--    <nz-tab nzTitle="History">
      Content of Tab Pane 2
    </nz-tab>-->
  </nz-tabset>
</div>
