body.#{$themeName} {
  :host {
    .volume-background {
      color: $textColorSecondary;
      background: $lightBackground;
    }

    .volume {
      .value {
        color: $textColor;
      }
    }

    .grid-list {
      color: $textColor;

      .sell {
        background: $fallingColor;
        color: $buttonColor;
      }

      .buy {
        background: $risingColor;
        color: $buttonColor;

      }
    }

    .list {
      background: $lightBackground;

      .close-all {
        color: $textColor;
        background: $bodyBackground;
      }
    }

    .sell-list {
      .item-volume {
        color: $fallingColor;
      }
    }

    .buy-list {
      .item-volume {
        color: $risingColor;
      }
    }
  }

}
