  <!-- {{builder.items | json}} -->
<window-header [window]="this">
  <button 
    class="wm-header-btn icon-setting-gear"
    (click)="grid.createComponentModal()"
  >
  </button>
</window-header>

<div class="tabs">
  <div class="tab">
    <account-select (accountChange)="handleAccountChange($event)"></account-select>
  </div>

  <div [class.active]="isList" (click)="isList = true" class="tab"><i class="tab-icon icon-list"></i>List
  </div>

  <div [class.active]="!isList" (click)="isList = false" class="tab"><i class="tab-icon icon-folder"></i>Group
  </div>
</div>

<data-grid #grid [items]="builder.items" [handlers]="handlers" [columns]="columns"></data-grid>
