<!-- {{builder.items | json}} -->
<window-header className="widget" [window]="this">
  <button
    class="wm-header-btn mr-2"
    (click)="grid.createComponentModal()"
  >
    <i class="icon-setting-gear"></i>
  </button>
  <account-select
    size="small"
    className="custom-form-control"
    (accountChange)="handleAccountChange($event)"
  ></account-select>
</window-header>

<div class="tabs">
  <div [class.active]="isList" (click)="isList = true" class="tab"><i class="tab-icon icon-list"></i>List
  </div>

  <div [class.active]="!isList" (click)="isList = false" class="tab"><i class="tab-icon icon-folder"></i>Group
  </div>
</div>

<data-grid #grid [items]="builder.items" [handlers]="handlers" [columns]="columns"></data-grid>
