<loader *ngIf="loading"></loader>

<window-header
  (contextmenu)="grid.createComponentModal($event)"
  (close)="closeSettings()"
  className="widget" [window]="this">
  <!--  <button
      class="wm-header-btn mr-2"
      (click)="grid.createComponentModal()"
    >
      <i class="icon-setting-gear"></i>
    </button>-->
  <span [class.opened]="menuVisible"
        class="group-container">
  <i nz-dropdown (nzVisibleChange)="menuVisible = $event" [nzDropdownMenu]="menu"
     nzTrigger="click"
     [class.active]="isGroupSelected" class="icon-group "></i>
    </span>
</window-header>
<data-grid #grid [items]="builder.items" [handlers]="handlers"
           [rowHeight]="24"
           [showSettingsInContextMenu]="true"
           (settingsClicked)="openSettings()"
           [(contextMenuState)]="contextMenuState"
           [columns]="columns"
           [loadedPresets]="loadedPresets"
           (savePresets)="save()"
           (createPresets)="createPresets(Components.Positions)"></data-grid>
<div class="bottom-info">
  <span class="bottom-title">Total PL</span>
  <div [class.empty]="!totalPl" [class.negative]="totalPl < 0"
       class="bottom-data">{{totalPl | fixedNumber}}</div>
  <span class="bottom-title">Open</span>
  <div  [class.empty]="!open" [class.negative]="open < 0" class="bottom-data">{{open | fixedNumber}}</div>
  <span class="bottom-title">Realized</span>
  <div [class.empty]="!realized" [class.negative]="realized < 0" class="bottom-data">{{realized | fixedNumber}}</div>
  <!--  <nz-select
      class="select"
      [nzOptionHeightPx]="22"
                 class="select">
      <nz-option nzLabel="USD" nzValue="USD"></nz-option>
      <nz-option nzLabel="EUR" nzValue="EUR"></nz-option>

    </nz-select>-->
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu class="position-menu">
    <li nz-menu-item>
      <nz-radio-group [ngModel]="groupBy" (ngModelChange)="handleGroupChange($event)" class="d-flex flex-column">
        <label nz-radio [nzValue]="groupByOptions.None">None</label>
        <div class="divider"></div>
        <label nz-radio [nzValue]="groupByOptions.AccountId">Account</label>
        <label nz-radio [nzValue]="groupByOptions.InstrumentName">Instrument</label>
      </nz-radio-group>
    </li>
  </ul>
</nz-dropdown-menu>
