@import "src/scss/variables";

body.#{$themeName} {

  :host {
    background: $tabBackground;

    .navigation-bar {
      color: $textColor;

      height: $navbarHeight;

      &__logo {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid $logoColor;
        display: flex;
        margin-left: 20px;
        align-items: center;
        justify-content: center;

        &-image {
          mask-image: url("../../../../assets/img/svg/logo.svg");
          background-color: $logoColor;
          mask-repeat: no-repeat;
          height: 18px;
          width: 18px;
          mask-position: center center;
        }
      }

      &__plus {
        font-size: 32px;
        cursor: pointer;
        transition: all 0.3s;
        line-height: 1;

        &--open {
          transform: rotate(45deg);
        }
      }

      &__add {
        width: $navbarHeight;
        height: $navbarHeight;
        display: flex;
        background: $borderColor;
        align-items: center;
        justify-content: center;
      }

      &__name {
        margin-right: auto;
        margin-left: 5px;
        color: $logoColor;
        font-weight: 600;
      }

      &__change-theme {
        font-size: 16px;
        display: inline-block;
        margin-right: 30px;
      }
    }

  }


}

