@import "src/scss/variables";

body.#{$themeName} {

  :host {
    background: $tabBackground;

    .navigation-bar {
      color: $textColor;

      height: $navbarHeight;

      .logo {

        border: 1px solid $logoColor;


        &-image {
          background-color: $logoColor;

        }
      }


      .add {
        background: $borderColor;
      }

      .name {
        color: $logoColor;
      }


    }

  }


}

