body.#{$themeName} {
  :host {
    background: $tabBackground;
    color: $textColor;

    button {
      background: $lightBackground;
    }

    .divider {
      background: $lightBackground;
    }
  }
}
