@import "themes/index";

:host {
  display: block;
  height: 100%;
  overflow: auto;
  width: 100%;

  .layout {
    display: flex;
    height: 100%;
  }

  nz-select {
    min-width: 60px;
  }

  .select-container {
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
    min-width: 120px;
    cursor: pointer;
    position: relative;

    i {
      position: absolute;
      right: 10px;
    }
  }

  ::ng-deep {
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      border: none;
      box-shadow: none;
    }
  }

  i {
    font-size: 5px;
  }

  .setting-list {
    list-style: none;
    padding-left: 0;
  }

  .setting-item {
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;

    &.active {
      font-weight: 600;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .change-theme {
    margin-right: 10px;
    font-weight: 600;
  }

  .left-side {
    min-width: 120px;
    padding-top: 25px;
    padding-left: 15px;
  }

  .right-side {
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
  }
}



