<window-header [window]="this"></window-header>
<div class="settings">
  <ul class="tabs">
    <li [class.active]="activeTab === tab" *ngFor="let tab of tabs" (click)="activeTab = tab">{{tab}}</li>
  </ul>

  <ul class="tab-content" *ngIf="activeTab === 'general'">
    <!--   <li>
         <div class="title">THEME</div>
           <nz-select
             class="select"
             nzDropdownClassName="setting-dropdown"
             nzSize="small"
             [(ngModel)]="currentTheme"
           >
             <nz-option
               *ngFor="let theme of themes"
               [nzValue]="theme"
               [nzLabel]="theme"
             >
             </nz-option>
           </nz-select>
           <i class="icon-arrow-dropdown"></i>
       </li>-->
    <!--    <li>
          <div class="title">LANGUAGE</div>
          <nz-select nzSize="small" class="select" ngModel="en-GB" nzDisabled>
            <nz-option nzValue="en-GB" nzLabel="English"></nz-option>
          </nz-select>
        </li>-->
    <li>
      <nz-radio-group [nzSize]="'large'" [(ngModel)]="autoSaveSetting" (ngModelChange)="switchAutoSave($event)">
        <div>
          <label nz-radio [nzValue]="saveDelayValues.fiveMin">Auto save settings every 5 minutes</label>
        </div>
        <div>
          <label nz-radio [nzValue]="saveDelayValues.manualSave">Manual save</label>
        </div>
      </nz-radio-group>
    </li>
  </ul>
  <table class="tab-content table" *ngIf="activeTab === 'hotkeys'">
    <thead>
    <tr>
      <th>Functions</th>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          Keys
          <button class="clear-all" (click)="clearAll()" nz-button nzType="link">Clear All</button>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of hotkeys;let i = index ">
      <td class="hotkey-name"><span class="d-flex align-items-center h-100">{{entry.name}}</span></td>
      <td class="hotkey-reader">
        <hotkey-input [value]="entry.binding" (valueChange)="updateHotkey($event, entry.key)"></hotkey-input>
      </td>
    </tr>
    </tbody>
  </table>
</div>
