@import "../settings";
@import "../indicators.settings";

.menu {
  min-width: 1px;
  margin-top: 3px;
}

:host ::ng-deep {
  formly-form {
    .template-label, .profile-hotkey .hotkey-wrapper label, .ant-checkbox + span, .number-label, .color-label, .switch-label, .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      color: $text-60;
    }

    .profile-alignment {
      .icon-align-left {
        margin-left: auto;
      }
    }

    .ant-input-number {
      width: auto;
      justify-content: space-between;
    }
  }

  .poc-rows {
    grid-column-gap: 4px;
  }

  cdk-virtual-scroll-viewport {
    padding-bottom: 8px;
  }

  formly-form {
    padding-bottom: 0;
  }

  window-header {
    position: relative;

    &:after {
      right: 0;
      content: '';
      height: 100%;
      width: 438px;
      background: $secondary;
      position: absolute;
      z-index: -1;
    }
  }
}

.icon-save {
  color: $text-80;
  transition: color 0.3s;
  cursor: pointer;
  font-size: 14px;
  padding: 8px;

  &:hover {
    color: $primary;
  }
}

.menu-item {
  .actions {
    opacity: 0;
    transition: 0.3s;
    margin-right: 6px;

    i {
      font-size: 10px;
      cursor: pointer;

      &:not(:first-child) {
        margin-left: 4px;
      }
    }
  }

  &:hover {

    .actions {
      opacity: 1;
    }
  }

  &:hover(.active) {
    background-color: rgba(255, 255, 255, .08);
  }
}
