<window-header className="widget" [window]="this">
  <account-select
    size="small"
    class="mr-2"
    className="custom-form-control"
    (accountChange)="handleAccountChange($event)"
  ></account-select>
  <app-window-toolbar class="wm-draggable"></app-window-toolbar>
</window-header>
<div class="component-container">
  <div class="chart-container">
    <app-toolbar [chart]="chart"></app-toolbar>
    <div class="chart" #chartContainer></div>
    <div *ngIf="enableOrderForm"
    (click)="showOrderForm = !showOrderForm"
    class="icon-container">
      <i [class.icon-arrow-left]="!showOrderForm"
         [class.icon-arrow-right]="showOrderForm"></i>
    </div>
  </div>

  <order-form *ngIf="enableOrderForm"
    [class.disappearing]="!showOrderForm"
    [instrument]="instrument"></order-form>
</div>
