//@import "themes";
@import "themes/Dark";
@import "themes/template";

@import "themes/default";
@import "themes/template";

$toolbarMargin: 4px;

::ng-deep {
  .modal-content {
    max-height: 90vh;
    overflow: auto;
  }
}

:host ::ng-deep .icon-container {
  cursor: pointer;
  border-radius: 3px;
  width: 20px;
  position: absolute;
  right: 7px;
  bottom: 7px;
  z-index: 27;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-arrow-right, .icon-arrow-left {
    font-size: 14px;

  }
}

:host ::ng-deep{
  .disappearing {
    width: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0;
  }

  order-form {
    transition: all 0.3s;
  }
}

.component-container {
  display: flex;
  height: 100%;
}
.chart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  &:before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
  }
  &:hover {
    cursor: grab;
  }
}

.scxToolbar-multiDropdown,
.scxToolbarButton-dropdownElementsContainer,
.scxTimeFramePicker-dropdownContainer {
  max-height: calc(85vh - 50px);
}

.scxTimeFramePicker-dropdownContainer {
  width: auto !important; // because set width from js
}

:host {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;

  ::ng-deep .scxNavigation {
    [class^="icon-"], [class*=" icon-"] {
      font-family: 'scx-icons', serif !important;
    }
  }

  ::ng-deep {
    order-form {
      height: 100%;
    }

    .scxChartPanel ~ .scxChartPanel .scxPanelTitle {
      margin-top: 5px;
    }

    .scxPanelTitle {
      position: absolute;
      z-index: 20;
      margin-top: 50px;
      padding: 1px 5px 0 0;
      margin-left: 10px;

      > div > * {
        display: inline-block;
      }

      .scxToggleIndicatorTitles {
        margin-top: 3px;
        margin-left: 4px;
      }

      .scxPanelTitleCaption {
        margin-left: 5px;
      }
    }
  }

  ::ng-deep .scxToolbar-btn.scxToolbar-btn-theme {
    display: none;
  }


  .scxRootContainer.scxFullWindow {
    height: 100% !important;
    width: 100% !important;
  }

  .chart-wrapper {
    height: 100%;
    //margin-top: -4px;
    display: flex;
  }

  .scroll-wrapper {
    width: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  .scroll-btn {
    height: 20px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: #3f4653;

    &.scxToolbar-scroll-top {
      top: 0;
    }

    &.scxToolbar-scroll-bottom {
      bottom: 0;
    }

    span {
      display: block;
      height: 20px;
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
      }
    }
  }

  .scxToolbar {
    padding: 0;
    min-height: 0;

    &.horizontal {
      width: calc(100% - #{$toolbarMargin} * 2);
      height: 30px;
      margin: $toolbarMargin;
      background: rgb(63, 69, 83);
      border-radius: 4px;
      display: flex;
      overflow: hidden;

      .left {
        flex-grow: 1;
        display: flex;

        &:after {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }

        .inputWrapper {
          height: 26px;
          margin: 2px;
          border-radius: 4px;
          background-color: #272b37;
          width: 150px;

          instrument-search {
            height: 100%;
            border: none;
          }

          .scxInstrumentSearchInputField {
            border-color: transparent;
            width: 100%;
            height: 100%;
            text-align: left;
            padding: 0 10px;
            border-radius: inherit;

            &.active,
            &:hover {
              background: #272b37;
            }

            &:focus {
              box-shadow: none;
            }
          }
        }

        .scxTimeFramePicker {
          height: 26px;
          margin: 2px;
          background: #272b37;
          border-radius: 4px;

          &.hover,
          &.active {
            background: #272b37;
          }

          .scxToolbarButton-buttonWrapper {
            background: transparent;
          }
        }
      }

      .right {
        color: white;
        display: flex;
        align-items: center;

        i {
          vertical-align: middle;
          padding: 5px;
          margin-right: 5px;

          &:hover {
            cursor: pointer;
          }
        }

        .scxToolbarSaveImage {
          &:hover {
            background: transparent;
          }
        }
      }
    }

    &.vertical {
      display: inline-flex;
      flex-direction: column;
      width: 40px;
      height: auto;
      background: #272b37;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }

  &.chart-unavailable {
    .scxToolbarSaveImage,
    .scxToolbar-btn-theme,
    .order-icon,
    .scxToolbarButton {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

.order-icon {
  &:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  i {
    color: #cfc9c5;
    vertical-align: middle;
    opacity: inherit;
  }
}

/*:host ::ng-deep .scxToolbar-scroll{
  display: none;
}*/

::ng-deep body {
  .scxWatermarkInfo,
  .scxWatermarkSymbol {
    line-height: 70px;
  }

  .scxRootContainer {
    height: 100%;
    width: calc(100%) !important;
    text-align: center;
    margin-top: 0;
    padding: 0 4px 4px 0;
  }

  .scxToolbar-scroll {
    position: relative;
    height: 35px;
  }

  .scxContainer {
    width: 100% !important;
    margin-top: 0;
    border: none !important;
  }
}
