<loader *ngIf="loading"></loader>


<window-header marginClass="" (close)="onWindowClose()" className="widget" [window]="this">
  <instrument-select
    class="mr-2"
    placeholder="Symbol"
    [(instrument)]="instrument"
    [account]="account"
  ></instrument-select>
  <account-select #select  [(account)]="account"></account-select>
  <div class="ml-auto trading-instruments" *ngIf="enableOrderForm">
    <i *ngFor="let item of directions" (click)="currentDirection = item"
       [class.active]="currentDirection === item"
       class="icon-{{item}} direction window-icon"></i>
    <i (click)="showChartForm = !showChartForm; setNeedUpdate()" [class.active]="showChartForm"
       [title]="showChartForm? 'Hide': 'Show' + ' order area'" class="icon-widget-orders"></i>
    <i (click)="toggleTrading()"
       [class.icon-lock]="!isTradingEnabled"
       [class.icon-unlock]="isTradingEnabled"
       [title]="isTradingEnabled ? 'Unlock' : 'Lock'"
       class="lock"></i>
  </div>

</window-header>
<div class="component-container {{currentDirection}}">
  <div [class.hide-oclc]="!showOHLV"
       [class.hide-changes]="!showChanges"
       class="chart-container">
    <app-toolbar
      *ngIf="window"
      [(enableOrderForm)]="enableOrderForm"
      (enableOrderFormChange)="checkIfTradingEnabled()"
      [class.location-up]="!showChanges && !showOHLV" [layout]="layout" [chart]="chart"
      [window]="window"
      [link]="link"></app-toolbar>
    <div class="chart" #chartContainer></div>
  </div>

  <side-form
    #domForm
    [class.d-none]="!showChartForm || !enableOrderForm"
    [accountId]="accountId"
    [position]="position"
    [ocoStep]="ocoStep"
    [orders]="orders"
    (actions)="handleFormAction($event)"
    [instrument]="instrument">
    <div class="form-header" headerContent>
      <div>
        A: {{getQuoteInfo(bestAskPrice)}} {{getQuoteSize(askSize)}}
      </div>
      <div>
        B: {{getQuoteInfo(bestBidPrice)}} {{getQuoteSize(bidSize)}}
      </div>
    </div>
  </side-form>
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul class="chart-menu-dropdown" nz-menu>
    <li (click)="showOHLV = !showOHLV" nz-menu-item>{{showOHLV ? 'Hide' : 'Show'}} OHLV</li>
    <li (click)="showChanges = !showChanges" nz-menu-item>{{showChanges ? 'Hide' : 'Show'}} Changes</li>
    <li nz-menu-divider></li>
    <li (click)="saveTemplate()" [nzDisabled]="!loadedTemplate" nz-menu-item>Save</li>
    <li (click)="createTemplate()" nz-menu-item>Save as ...</li>
    <!--  <li nz-menu-divider></li>
      <li nz-menu-item>Reset PB</li>
     -->
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="openSettingsDialog()">Settings</li>
  </ul>
</nz-dropdown-menu>
