.custom-collapse {
  border: 0 !important;
  background: none !important;

  .ant-collapse-content {
    border: 0 !important;
    background: none !important;
  }

  .ant-collapse-content-box {
    padding: 8px !important;
  }

  &-item {
    border-radius: 4px;
    transition: background-color 0.4s;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  
    &-active {
      background: $light;
    }
  
    .ant-collapse-header {
      display: none !important;
    }
  }
}
