body .custom-form-control {
  width: 100%;

  .ant-input,
  .ant-select-selector {
    border-color: transparent !important;
    background: $dark !important;
    box-shadow: none !important;
    border-radius: 2px !important;
  }

  .ant-input:focus,
  &.ant-select-focused .ant-select-selector {
    border-color: $primary !important;
  }
}
