body .custom-form-control {
  .ant-input {
    border-color: transparent;
    background: $dark !important;
    box-shadow: none !important;
    border-radius: 2px;

    &:focus {
      border-color: $primary;
    }
  }
}
