.custom-checkbox {
  display: block;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: inherit;

  input[type="checkbox"] {
    display: none;

    & + * {
      position: relative;
      padding-left: 20px;

      &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 12px;
        height: 12px;
        border: 1px solid currentColor;
        border-radius: 2px;
        opacity: 0.4;
        transition: border-color 0.4s;
      }

      &:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 3px;
        width: 6px;
        height: 6px;
        background: $primary;
        border-radius: 1px;
        transform: scale(0);
        transition: transform 0.4s;
      }
    }

    &:checked + * {
      &:before {
        border-color: $primary;
      }

      &:after {
        transform: scale(1);
      }
    }
  }
}
