.custom-confirm {
  .ant-modal {
    top: 200px;
  }

  .ant-modal .ant-modal-content .ant-modal-body {
    background: $light;
    min-width: 1px;
    padding: 16px;
  }

  .ant-modal-content {
    // padding: 20px 24px;
    background: $light;
    box-shadow: 0 4px 8px rgba($dark, 0.5) !important;
    border-radius: 2px;

    .ant-modal-confirm-body {
      display: inline-flex;
    }
  }

  .ant-modal-confirm-content {
    margin: 0 !important;
    text-align: center;
    color: $white;
    font-size: 0.85rem;
    line-height: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .ant-modal-confirm-btns {
    float: none;
    text-align: center;
    white-space: nowrap;

    .ant-btn {
      width: 92px;
      font-size: 0.7rem;
      font-weight: 600;
      height: 22px;
      line-height: 1;
      color: white;

      &:first-child {
        background: $inputBackground;
        border: 1px solid $primary;
      }

      & + .ant-btn {
        margin-left: 12px;
      }
    }
  }
}
