.indicator {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  background: rgba($text-muted, 0.3);
  transition: color 0.4s;
  border-radius: 50%;

  &:after {
    background: $text-muted;
    width: 6px;
    content: '';
    border-radius: 50%;
    height: 6px;
  }

  &.success {
    background: rgba($success, 0.3);

    &:after {
      background: $success;
    }
  }

  &.error {
    background: rgba($red, 0.3);

    &:after {
      background: $red;
    }
  }

  &.connecting {
    background: rgba($pendingColor, 0.3);

    &:after {
      background: $pendingColor;
    }
  }
}
