.selectable-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.4s;

  &-active, &:hover {
    background: lighten($light, 5%) !important;
  }

  &-action {
    display: inline-block;
    opacity: 0;
    cursor: pointer;
    font-size: 0.8rem;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:hover {
      color: $white;
    }

    &-active {
      color: $primary;
    }
  }

  &:hover &-action,
  &-action-active {
    opacity: 1;
  }
}
