@import "themes/index";

:host {
  display: block;
  min-height: 85px;
  padding: 10px;
  width: 210px;
}

.account-top {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}

.divider {
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
