<app-navbar></app-navbar>
<div class="dashboard-wrapper">
  <aside
    [class.side-navigation--open]="isOpen$ | async"
    class="side-navigation">
    <div #addChart  class="side-navigation__item">
      <span class="icon-chart"></span>
      Trading<br>
      Chart
    </div>
    <div
      #addWatch
      class="side-navigation__item">
      <span class="icon-watch"></span>
      Market<br>
      Watch
    </div>
    <div class="side-navigation__item">
      <span class="icon-orders"></span>
      Orders<br>
      Book
    </div>
    <div class="side-navigation__item">
      <span class="icon-positions"></span>
      Positions
    </div>
  </aside>
  <layout #layout></layout>
</div>
