:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
$layoutMarginTop: 10px;

layout{
  margin-top: $layoutMarginTop;
  height: calc(100% - #{$layoutMarginTop * 2});
}

.dashboard-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

