$nav-height: 42px;
@import "~src/scss/variables";
:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:host-context(.electron) app-navbar {
  width: calc(100% - 2px);
}

.empty-container {
  color: $text-60;
  font-size: 0.8rem;
}


app-navbar {
  flex-shrink: 0;
}

layout {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: calc(100% - #{$nav-height});
  overflow-y: auto;
  overflow-x: auto;
  flex-shrink: 0;

}

