@import "../../../scss/dark.theme";
@import "themes/index";

.navigation-bar {
  display: flex;
  align-items: center;
  max-height: 42px;
  background-color: $tabFrameColor;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/img/svg/deltaview.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 85px;
    height: 21px;
    margin-right: 16px;
    transform: translateY(2px);
  }

  .navbar-manager button{
    background-color: transparent;
  }

  .create-frame {
    border-right: 1px solid $lightBackground;
    border-left: 1px solid $lightBackground; 
    padding: 0 16px;
    color: $textColor60;
    font-size: 16px;
    line-height: 28px;
  }

  .frames-manager {
    display: flex;
    margin: 0 16px;

     & > .frame {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;
      border-radius: 2px;
      min-width: 28px;
      height: 28px;
      background-color: $tabBackground;
      cursor: pointer;

      i {
        line-height: 28px;
        margin: 0 6px;
      }

      a {
        background-color: transparent;
        color: $textColor;
        display: block;
        width: 12px;
        line-height: 28px;
        font-size: 6px;
      };

    }
  }

  .search {
    padding: 0 10px;
    flex-grow: 1;
    border-left: 1px solid $lightBackground;
    button {
      background-color: transparent;
    }
  }

  .connection {
    display: flex;
    align-items: center;
    margin: 0 18px;

    .title {
      padding: 0 6px;
      font-weight: 600;
      color: $titleColor;
    }

    .indicator {
      width: 6px;
      height: 6px;
      border-radius: 3px;

      &.disconnect {
        background-color: $fallingColor;

        &::before {
          background-color: $fallingColor;
        }
      }

      &.reconnect {
        background-color: $reconnectColor;

        &::before {
          background-color: $reconnectColor;
        }
      }

      &.connected {
        background-color: $successColor;

        &::before {
          background-color: $successColor;
        }
      }
  
      &::before {
        content: '';
        display: block;
        border-radius: 5px;
        width: 10px;
        height: 10px;
        opacity: .3;
        transform: translate(-2px, -2px);
      }
    }
  }

  .preferences {
    display: flex;
    flex-wrap: nowrap;
    border-right: 1px solid $lightBackground;
    border-left: 1px solid $lightBackground; 

    button {
      padding: 0 12px;
      background-color: transparent;
      position: relative;

      & > .icon-ellipse {
        font-size: .5em;
        color: $fallingColor;
        position: absolute;
        left: 50%;
        top: 2%;
      }
      
    }
  }

  .time {
    padding: 0 16px;
    border-right: 1px solid $lightBackground;
  }

  .control {
    display: flex;
    margin: 0 8px;

    button {
      background-color: transparent;
      padding: 0 8px;
    }
  }

  .user-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .plus {
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    line-height: 1;

    &.open {
      transform: rotate(45deg);
    }
  }

  .add {
    width: $navbarHeight;
    height: $navbarHeight;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .name {
    margin-right: auto;
    margin-left: 5px;
    font-weight: 600;
  }

  .avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .icon-arrow-dropdown{
    font-size: 5px;
    margin-top: 3px;
    margin-left: 12px;
  }
}
