<nav *ngIf="isVisible" class="navigation-bar">
  <div  (click)="toggleNavigationDrawer()" class="add">
    <div
      [class.open]="isOpen"
      class="plus">
      +
    </div>
  </div>
  <div class="logo">
    <i class="icon-logo"></i>
    </div>
  <span class="name">T-Platform</span>

  <div nzOverlayClassName="toolbar-dropdown"
       nzTrigger="click"
       nz-dropdown [nzDropdownMenu]="menu" class="user-menu">
    <img src="https://krausefx.com/assets/posts/profilePictures/FelixKrause2014.jpg"
         alt=""
         class="avatar">Username@name.com
    <i class="icon-arrow-dropdown"></i>
  </div>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li (click)="switchTheme()"  nz-menu-item>Change theme</li>
      <li (click)="openAccountDialog()" nz-menu-item>Accounts</li>
      <li (click)="logout()" nz-menu-item>Logout</li>
    </ul>
  </nz-dropdown-menu>
</nav>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item>Profile</li>
    <li (click)="openSettings()" nz-menu-item>Settings</li>
    <li nz-menu-divider></li>
    <li nz-menu-item>Log out</li>
  </ul>
</nz-dropdown-menu>
