@import "../../../scss/dark.theme";
@import "themes/index";

.navigation-bar {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  align-items: center;

  .logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;

  }

  .user-menu {
    cursor: pointer;
    display: flex;
    align-items: center;

  }

  .plus {
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    line-height: 1;

    &.open {
      transform: rotate(45deg);
    }
  }

  .add {
    width: $navbarHeight;
    height: $navbarHeight;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .name {
    margin-right: auto;
    margin-left: 5px;
    font-weight: 600;
  }

  .avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .icon-arrow-dropdown{
    font-size: 5px;
    margin-top: 3px;
    margin-left: 12px;
  }
}
