@import "../../../scss/dark.theme";
@import "themes/index";

$height: 36px;

:host {
  height: $height;
  width: 100%;
  display: block !important;
  background-color: transparent !important;
  position: absolute;
  z-index: 1000;
  outline: none;

  &.hidden {
    height: 10px;

    .navigation-bar {
      margin-top: -$height;
    }

    &.Bottom .navigation-bar {
      margin-top: $height;
    }
  }

  &.Bottom {
    bottom: 0;
  }

  &.window-navbar {
    windows, app-workspace, button.navbar-button.icon-setting-gear, app-account {
      display: none;
    }

    .preferences {
      //  margin-left: auto;
      &:before, &:after {
        content: none;
      }
    }
  }
}

.window-name {
  font-size: 0.9rem;
  line-height: 1;
  user-select: none;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 15px;
}

.windows {
  display: block;
  margin-right: auto;
}

.navigation-bar {
  display: flex;
  align-items: center;
  background-color: $tabFrameColor;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: margin-top .3s ease;

  .logo {
    display: flex;
    background-image: url("../../../assets/img/svg/tradrr.svg");
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 21px;
    margin: 0 16px;
    min-width: 85px;
  }

  .navbar-manager button {
    background-color: transparent;
  }

  .create-frame {

    color: $textColor60;
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 0 2px;

    app-drag-drawer {
      height: 100%;
    }

    &:before, &:after {
      content: '';
      height: calc(100% - 8px);
      top: 4px;
      width: 1px;
      position: absolute;
      background: $lightBackground;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .search {
    padding: 0 10px;
    border-left: 1px solid $lightBackground;

    button {
      background-color: transparent;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .preferences {
    display: flex;
    flex-wrap: nowrap;
    /*  border-right: 1px solid ]
    *;
      border-left: 1px solid $lightBackground;*/
    align-items: center;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;

    &:before, &:after {
      position: absolute;
      left: 0;
      content: '';
      width: 1px;
      height: 28px;
      background: $lightBackground;
    }

    &:after {
      left: unset;
      right: 0;
    }

    ::ng-deep {

      button {
        padding: 0 12px;
        background-color: $tabFrameColor;
        position: relative;
        transition: background 0.3s;
        width: 36px;
        height: 36px;
        align-items: center;
        display: flex;
        justify-content: center;

        &:hover {
          background: $inputBackground;
          color: white;
          // font-weight: 600;
        }

        & > .icon-ellipse {
          font-size: 0.5em;
          color: $risingColor;
          position: absolute;
          left: 50%;
          top: 23%;
        }

        &.icon-save {
          display: none;
        }
      }
    }
  }

  .time {
    border-right: 1px solid $lightBackground;
    min-width: 90px;
    height: 100%;
  }

  .control {
    margin: 0 8px;
    display: none;

    button {
      background-color: transparent;
      padding: 0 8px;
      transition: all 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }

  .user-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .plus {
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    line-height: 1;

    &.open {
      transform: rotate(45deg);
    }
  }

  .add {
    width: $navbarHeight;
    height: $navbarHeight;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .name {
    margin-right: auto;
    margin-left: 5px;
    font-weight: 600;
  }

  .avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .icon-arrow-dropdown {
    font-size: 5px;
    margin-top: 3px;
    margin-left: 12px;
  }
}

:host {
  &.window-navbar .navigation-bar .preferences {
    ::ng-deep button {
      &.icon-save {
        display: flex;
      }
    }
  }
}

:host.electron {
  .control {
    display: flex;
  }
}

.position-settings-button {
  width: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-left: 15px;
  color: #999999;
  background-color: transparent;

  i {
    font-size: 20px;
    transition: all 0.3s;

    &:hover {
      color: #fff;
    }
  }
}

.navbar-position-list {
  min-width: 160px;
  background-color: $inputBackground;

  li {
    padding: 5px 10px;
    font-size: 12px;
    user-select: none;
    line-height: 16px;

    i {
      margin-right: 10px;
      font-size: 12px;
    }
  }
}
