<nz-transfer
  class="custom-transfer"
  [nzDataSource]="items"
  [nzShowSelectAll]="false"
  [nzTitles]="['All', 'Current']"
  [nzRenderList]="[renderList, renderList]"
>
  <ng-template
    #renderList
    let-items
    let-direction="direction"
    let-onItemSelect="onItemSelect"
  >
    <div class="small text-uppercase px-3 py-1">
      {{ direction === 'left' ? 'All' : 'Current' }}
    </div>
    <div class="custom-transfer-list">
      <div *ngIf="direction === 'left'">
        <div
          *ngFor="let item of items"
          class="custom-transfer-item"
          [class.custom-transfer-item-active]="item.checked"
          (click)="onItemSelect(item)"
        >
          {{ item.title }}
        </div>
      </div>
      <nz-collapse class="custom-collapse" *ngIf="direction === 'right'">
        <div
          *ngFor="let item of items"
          class="custom-collapse-item"
          [class.custom-collapse-item-active]="item.active"
        >
          <div
            class="d-flex align-items-center justify-content-between custom-transfer-item"
            [class.custom-transfer-item-active]="item.checked"
            (click)="onItemSelect(item)"
          >
            <div class="d-flex align-items-center">
              <span class="indicator ml-1 mr-2" [ngClass]="{
                'text-muted': !item.connected,
                'text-success': item.connected
              }"></span>
              <strong class="ml-1">{{ item.title }}</strong>
            </div>
            <div class="small text-muted" (click)="$event.stopPropagation()">
              <span class="link" (click)="togglePanel(item)" *ngIf="!item.connected">
                <span *ngIf="!item.active">connect</span>
                <i class="icon-close font-size-inherit" *ngIf="item.active"></i>
              </span>
              <span
                class="d-flex align-items-center"
                (click)="disconnect(item)"
                *ngIf="item.connected"
              >
                <span class="spinner mr-2" *ngIf="item.isLoading"></span>
                <span [class.link]="!item.isLoading">disconnect</span>
              </span>
            </div>
          </div>
          <nz-collapse-panel [nzActive]="item.active">
            <nz-tabset class="custom-tabs">
              <nz-tab nzTitle="Demo">
                <form
                  nz-form
                  [formGroup]="item.form"
                  [class.loading-block]="item.isLoading"
                  (submit)="connect(item)"
                >
                  <div class="mb-1">
                    <small class="text-muted px-3 mb-1">Login</small>
                    <nz-form-control class="custom-form-control">
                      <input type="text" nz-input formControlName="login">
                    </nz-form-control>
                  </div>
                  <div class="mb-3">
                    <small class="text-muted px-3 mb-1">Password</small>
                    <nz-form-control class="custom-form-control">
                      <input type="password" nz-input formControlName="password">
                    </nz-form-control>
                  </div>
                  <button
                    nz-button
                    nzType="primary"
                    nzBlock
                    class="ant-btn ant-btn-primary text-uppercase"
                  >Connect</button>
                </form>
              </nz-tab>
              <nz-tab nzTitle="Real"></nz-tab>
            </nz-tabset>
          </nz-collapse-panel>
        </div>
      </nz-collapse>
    </div>
  </ng-template>
</nz-transfer>
