<div class="custom-panels">
  <div class="custom-panel">
    <div class="custom-panel-header">
      All
    </div>
    <div class="custom-panel-body">
      <nz-collapse class="custom-collapse-ghost">
        <nz-collapse-panel
          *ngFor="let broker of brokers"
          [nzHeader]="broker.title"
          [nzExtra]="createButton"
          [nzShowArrow]="!!builder.getItems('broker', broker.key).length"
        >
          <ng-template #createButton>
            <span class="small link" (click)="openCreateForm($event, broker.key)">
              <i class="icon-add font-size-inherit"></i>
            </span>
          </ng-template>
          <div>
            <div
              *ngFor="let item of builder.getItems('broker', broker.key)"
              class="selectable-item pl-5 mt-1"
              [class.selectable-item-active]="item === selectedItem"
              (click)="selectItem(item)"
            >
              {{ item.name }}
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
  <div class="custom-panel">
    <div class="custom-panel-header">
      Properties
    </div>
    <div class="custom-panel-body">
      <div class="h-100 p-2 bg-light rounded">
        <form
          nz-form
          [formGroup]="form"
          [class.loading-block]="isLoading"
          (submit)="handleSubmit()"
          *ngIf="selectedItem && !selectedItem.connected"
        >
          <div class="mb-1">
            <small class="text-muted px-3 mb-1">Connection name</small>
            <nz-form-control class="custom-form-control">
              <input type="text" nz-input formControlName="name">
            </nz-form-control>
          </div>
          <div class="mb-1">
            <small class="text-muted px-3 mb-1">Login</small>
            <nz-form-control class="custom-form-control">
              <input type="text" nz-input formControlName="username">
            </nz-form-control>
          </div>
          <div class="mb-1">
            <small class="text-muted px-3 mb-1">Password</small>
            <nz-form-control class="custom-form-control">
              <input type="password" nz-input formControlName="password">
            </nz-form-control>
          </div>
          <div class="mb-1">
            <small class="text-muted px-3 mb-1">Server</small>
            <nz-select class="custom-form-control" formControlName="connectionPointId">
              <nz-option nzValue="rithmic" nzLabel="Rithmic"></nz-option>
              <nz-option nzValue="rithmic-2" nzLabel="Rithmic 2"></nz-option>
            </nz-select>
          </div>
          <button
            nz-button
            nzType="primary"
            nzBlock
            class="ant-btn ant-btn-primary text-uppercase mt-3"
          >Connect</button>
        </form>
      </div>
    </div>
  </div>
</div>
