<div class="toolbar-container">

  <div class="tool btn-group">
    <nz-button-group
      nzTrigger="click"
      nzOverlayClassName="toolbar-dropdown"
      nz-dropdown
      [nzDropdownMenu]="menu2"
      nzPlacement="bottomRight"
    >
      <button nz-button>
        <span class="icon-tool-drawings"></span>
      </button>
      <i class="icon-arrow-down"></i>
    </nz-button-group>

    <nz-dropdown-menu #menu2="nzDropdownMenu">
      <ul nz-menu>
        <li [title]="transformToUIName(drawing)" nz-menu-item *ngFor="let drawing of lastUsedDrawings">
          <span class="scx-icon icon-drawing-{{transformToClassName(drawing)}}"></span>
        </li>
        <li *ngIf="lastUsedDrawings.length" class=" toolbar divider"></li>
        <li [title]="chart?.stayInDrawingMode? 'Leave Draw Mode': 'Stay in Draw Mode'" nz-menu-item
            (click)="stayInDragMode()">
          <i [style.color]="chart?.stayInDrawingMode ? '#0c6ce4': '#D0D0D2'" class="icon-pen"></i>
        </li>
        <li *ngFor="let drawingInstrument of drawingInstruments" nz-submenu
            [title]="drawingInstrument.name"
            [nzTitle]="iconTitle">
          <ng-template #iconTitle><i class="icon-{{drawingInstrument.icon}}"></i></ng-template>
          <ul class="toolbar-submenu">
            <li *ngFor="let item of drawingInstrument.items" nz-menu-item
                data-name="{{transformToUIName(item)}}"
                (click)="addDrawing(item)">
              <span class="scx-icon icon-drawing-{{transformToClassName(item)}}"></span>
              <span class="drawing-instrument-name">{{transformToUIName(item)}}</span>
            </li>
          </ul>
        </li>
        <li title="Make Snapshot" nz-menu-item (click)="makeSnapshot()">
          <i class="icon-tool-camera"></i>
        </li>
        <li [title]="chart?.showDrawings? 'Hide Drawings': 'Show Drawings'" nz-menu-item (click)="visible()">
          <i [style.color]="chart?.showDrawings ? '#0c6ce4': '#D0D0D2'" class="icon-not-visible"></i>
        </li>
        <li title="Remove Drawing" nz-menu-item (click)="removeDrawing()">
          <i class="icon-delete"></i>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>

  <!--  <div class="tool tool-wide select">
     <instrument-select
        size="small"
        placeholder="Symbol"
        [instrument]="instrument"
        (instrumentChange)="instrument = $event"
      ></instrument-select>
    </div>-->

  <div class="tool">
    <nz-select
      #frame
      [nzShowArrow]="false"
      [compareWith]="compareTimeFrame"
      nzDropdownClassName="toolbar-dropdown"
      [(ngModel)]="timeFrame"
      [nzCustomTemplate]="timeFrameTemplate"
      nzSize="small"
    >
      <ng-template #timeFrameTemplate let-selected>
        {{ getShortTimeFrame(selected.nzValue) }}
      </ng-template>
      <nz-option
        *ngFor="let option of timeFrameOptions"
        [nzValue]="option"
        [nzLabel]="getTimeFrame(option)"
      >
      </nz-option>
    </nz-select>
    <i (click)="frame.setOpenState(true)" class="icon-arrow-down timeframe-icon"></i>
  </div>

  <div class="tool">
    <nz-select
      #price
      [nzShowArrow]="false"
      [nzCustomTemplate]="defaultTemplate"
      nzDropdownClassName="toolbar-dropdown"
      [(ngModel)]="priceStyle"
      nzSize="small"
    >
      <nz-option
        *ngFor="let option of priceStyles"
        [nzValue]="option"
        [nzLabel]="option"
        nzCustomContent
        (click)="changePriceStyle(option)"
      >
        <span class="scx-icon icon-{{option}}"></span>
        {{option}}
      </nz-option>
    </nz-select>
    <i (click)="price.setOpenState(true)" class="icon-arrow-down"></i>
  </div>


  <div class="tool btn-group">
    <nz-button-group>
      <button
        nz-button
        nzPlacement="bottomRight"
        (click)="openIndicatorDialog()"
      >
        <span class="icon-tool-indicators"></span>
      </button>
      <i class="icon-arrow-down"></i>
    </nz-button-group>
  </div>


  <div class="tool btn-group">
    <nz-button-group
      nzPlacement="bottomRight"
      nzTrigger="click"
      nzOverlayClassName="toolbar-dropdown"
      nz-dropdown [nzDropdownMenu]="menu1"
    >
      <button nz-button>
        <span class="icon-tool-zoom"></span>
      </button>
      <i class="icon-arrow-down"></i>
    </nz-button-group>


    <nz-dropdown-menu #menu1="nzDropdownMenu">
      <ul nz-menu>
        <li
          *ngFor="let option of zoomOptions"
          nz-menu-item
          (click)="zoom(option)"
        >
          <span class="scx-icon icon-zoom-{{option}}"></span>
          {{option}}
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>


  <div class="tool">
    <nz-select
      #cross
      [nzShowArrow]="false"
      [nzCustomTemplate]="defaultTemplate"
      nzDropdownClassName="toolbar-dropdown"
      [(ngModel)]="iconCross"
      nzSize="small"
    >
      <nz-option
        *ngFor="let option of iconCrosses"
        [nzValue]="option"
        [nzLabel]="option"
        nzCustomContent
      >
        <span class="scx-icon icon-{{option}}"></span>
        {{option}}
      </nz-option>
    </nz-select>
    <i (click)="cross.setOpenState(true)" class="icon-arrow-down"></i>
  </div>

  <div class="tool photo">
    <nz-button-group nzSize='small'>
      <button nz-button nzType="link" (click)="makeSnapshot()">
        <span class="icon-tool-camera"></span>
      </button>
    </nz-button-group>
  </div>

  <ng-template #defaultTemplate let-selected>
    <span class="scx-icon icon-{{selected.nzValue}}"></span>
  </ng-template>
