
body.#{$themeName} {

  :host {
    background-color: $tabFrameColor;

    .wrapper {
    }

    ::ng-deep {
      th {
        background: $gridBackground !important;
      }
    }

    nz-select {
      color: $textColor !important;
    }

    .select-container {
      background-color: $lightBackground !important;
    }

    .icon-arrow-dropdown {
      color: $textColorSecondary;
    }
  }

}
