body.#{$themeName} :host {
  .list {
    // background: $lightBackground;

    .close-all {
      color: $textColor;
      background: $bodyBackground;
    }
  }

  .item-price {
    color: $textColor;
  }

  .list.short {
    .item-volume {
      color: $fallingColor;
    }
  }

  .list.long {
    .item-volume {
      color: $risingColor;
    }
  }

  .close-all-positions {
    color: $fallingColor;
    background: $lightBackground;
  }

}
