@import "../../scss/dark.theme";
@import "themes/index";

.navigation-bar {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
  margin-right: 40px;
  align-items: center;

  &__logo{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.2em;
    text-transform: uppercase
  }
  &__user-menu{
    cursor: pointer;
    display: flex;
    align-items: center;

  }
  &__avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
}
