<div class="toolbar-container">
  <div class="instrument-bar">
    <input #autoComplete nz-input [(ngModel)]="instrument" [nzAutocomplete]="auto">
    <i
      (click)="autoComplete.select()"
      class="instrument-bar__arrow icon-arrow-dropdown"></i>
    <nz-autocomplete nzOverlayClassName="toolbar-dropdown" #auto [compareWith]="compareInstrument">
      <nz-auto-option *ngFor="let option of instruments" [nzValue]="option" [nzLabel]="option.name">
        {{option.name}}
      </nz-auto-option>
    </nz-autocomplete>

  </div>
  <div
       (click)="showToolbar = !showToolbar"
       [class.opened]="showToolbar"
       class="icon-container">
    <i [class.icon-arrow-left]="showToolbar"
       [class.icon-arrow-right]="!showToolbar"></i>
  </div>
  <div *ngIf="showToolbar" class="pane">
    <div class="pane__compare-instruments">
      <button nz-button (click)='compareInstrumentDialog()'>
        <span class="scx-icon icon-compare-instruments"></span>
      </button>
    </div>
    <div
      class="pane_time-frame">
      <nz-select
        #frame
        [nzShowArrow]="false"
        [compareWith]="compareTimeFrame"
        nzDropdownClassName="toolbar-dropdown" [(ngModel)]="timeFrame">
        <nz-option *ngFor="let option of timeFrameOptions" [nzValue]="option" [nzLabel]="getTimeFrame(option)">
        </nz-option>
      </nz-select>
      <i (click)="frame.setOpenState(true)" class="icon-arrow-dropdown"></i>
    </div>
    <div class="pane__indicators">
      <nz-button-group>
        <button nz-button nzPlacement="bottomRight" (click)="openIndicatorDialog()">
          <span class="icon-chart"></span>
        </button>

      </nz-button-group>
      <!-- <nz-dropdown-menu #menu4="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <span class="scx-icon icon-delete-indicators"></span>Delete Indicators
          </li>
        </ul>
      </nz-dropdown-menu> -->
    </div>
    <div class="pane__price-style">
      <nz-select #price [nzCustomTemplate]="defaultTemplate"
                 nzDropdownClassName="toolbar-dropdown" [(ngModel)]="priceStyle">
        <nz-option *ngFor="let option of priceStyles" [nzValue]="option" [nzLabel]="option" nzCustomContent
                   (click)="changePriceStyle(option)">
          <span class="scx-icon icon-{{option}}"></span>{{option}}
        </nz-option>
      </nz-select>
      <i (click)="price.setOpenState(true)" class="icon-arrow-dropdown"></i>

    </div>

    <div
      class="pane__icon-cross">
      <nz-select #cross [nzCustomTemplate]="defaultTemplate" nzDropdownClassName="toolbar-dropdown"
                 [(ngModel)]="iconCross">
        <nz-option *ngFor="let option of iconCrosses"
                   [nzValue]="option"
                   [nzLabel]="option" nzCustomContent>
          <span class="scx-icon icon-{{option}}"></span>{{option}}
        </nz-option>
      </nz-select>

      <i (click)="cross.setOpenState(true)" class="icon-arrow-dropdown"></i>

    </div>

    <div
      class="pane__zoom">
      <nz-button-group
        nzPlacement="bottomRight"
        nzTrigger="click"
        nzOverlayClassName="toolbar-dropdown"
        nz-dropdown [nzDropdownMenu]="menu1">
        <button nz-button>
          <span class="icon-zoom"></span>
        </button>
        <i class="icon-arrow-dropdown"></i>
      </nz-button-group>


      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu>
          <li *ngFor="let option of zoomOptions" nz-menu-item (click)="zoom(option)">
            <span class="scx-icon icon-zoom-{{option}}"></span>{{option}}
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <!-- <div class="pane__show-drawing">
      <button nz-button>
        <span class="scx-icon icon-show-drawings"></span>
      </button>
    </div> -->

    <!-- <div class="pane__drawing-mode">
      <button nz-button>
        <span class="scx-icon icon-continuous-drawing"></span>
      </button>
    </div> -->

    <div
      class="pane__drawing-instruments">
      <nz-button-group
        nzTrigger="click"
        nzOverlayClassName="toolbar-dropdown" nz-dropdown [nzDropdownMenu]="menu2"
        nzPlacement="bottomRight">
        <button nz-button>
          <span class="scx-icon icon-toolbar_drawing-tools"></span>
        </button>
        <i class="icon-arrow-dropdown"></i>
      </nz-button-group>

      <nz-dropdown-menu #menu2="nzDropdownMenu">
        <ul nz-menu>
          <li *ngFor="let drawingInstrument of drawingInstruments" nz-submenu nzTitle="{{drawingInstrument.value}}">
            <ul class="toolbar-submenu">
              <li *ngFor="let item of drawingInstrument.items" nz-menu-item (click)="addDrawing(item)">
                <span class="scx-icon icon-drawing-{{item.toLowerCase()}}"></span>
                <span>{{item}}</span>
              </li>
            </ul>
          </li>

          <li nz-menu-item (click)="removeDrawing()">Delete All Drawings</li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <div class="pane__image">
      <nz-button-group>
        <button nz-button nzType="link" (click)="makeSnapshot()">
          <span class="icon-camera"></span>
        </button>
      </nz-button-group>
    </div>

    <!-- <div class="pane__view-mode">
      <nz-button-group>
        <button nz-button nzOverlayClassName="toolbar-dropdown" nz-dropdown [nzDropdownMenu]="menu3"
                nzPlacement="bottomRight">
          <span class="scx-icon icon-full-window"></span>
          <i nz-icon nzType="down"></i>

        </button>
      </nz-button-group>
      <nz-dropdown-menu

        #menu3="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <span
              class="scx-icon icon-full-window"></span>Full Window Mode
          </li>
          <li nz-menu-item>
            <span
              class="scx-icon icon-full-screen"></span>Full Screen Mode
          </li>
        </ul>
      </nz-dropdown-menu>
    </div> -->
  </div>
</div>
<ng-template #defaultTemplate let-selected>
  <span class="scx-icon icon-{{selected.nzValue}}"></span>
</ng-template>
