@import "../../../../scss/dark.theme";
@import "../themes/index";

:host-context {
  position: relative;
}

button {
  padding: 1px 12px;
  margin: 0;
  background-color: $tabFrameColor;
  position: relative;
  height: 28px;

  & > .icon-ellipse {
    font-size: .5em;
    color: $fallingColor;
    position: absolute;
    left: 50%;
    top: 2%;
  }

}

.locked {
  color: $fallingColor;
}

.icon-lock, .icon-unlock {
  font-size: 15px;
}

.lock-alert,
.unlock-alert {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999;
  width: 146px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 2px;
  user-select: none;
  opacity: 1;
}

:host-context(app-navbar.Bottom) {
  .lock-alert,
  .unlock-alert {
    bottom: unset;
    top: -70px;
  }
}

.lock-alert {
  background-color: $fallingColor;

  &::before {
    border-bottom: 6px solid $fallingColor;
  }
}

.unlock-alert {
  background-color: $risingColor;

  &::before {
    border-bottom: 6px solid $risingColor;
  }
}
