@import "~src/scss/variables";
@import "~src/scss/dark.theme";
@import "../scroll";

::ng-deep {
  .timezones-modal {
    .ant-modal-body {
      padding: 4px !important;
      background-color: $light !important;
    }
  }
}


timezone-item {
  background-color: $inputBackground;

  &.selected {
    background-color: $light3;
  }

  &.disabled {
    background-color: transparent;
    opacity: 0.5;
  }
}

.title {
  padding-left: 10px;
  text-align: left;
  color: $titleColor;
  font-size: 14px;
  padding-bottom: 10px;
}

.timezones-header {
  display: flex;
  align-items: center;
  font-size: 10px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 4px;

  .column {
    padding-left: 10px;
  }
}

.column {
  width: 50%;
}

.timezones-column {
  overflow: auto;
  max-height: 350px;
  background-color: $inputBackground;
  margin-left: 4px;
  padding: 5px;
}

.reset {
  text-transform: none;
  color: $risingColor;
  cursor: pointer;
  margin-left: auto;
  font-weight: 600;
}

.move-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  .move-button {
    width: 24px;
    height: 24px;
    font-size: 12px;
    background-color: $tabFrameColor;
    color: $risingColor;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
  }
}
