@import "~src/scss/variables";
@import "~src/scss/dark.theme";
@import "../scroll";

:host ::ng-deep {
  timezone-item {
    .subtitle {
      color: $text-60;
    }

    .ant-checkbox-checked {
      &:after {
        border-radius: 50%;
      }
    }

    .ant-checkbox-inner {
      border-radius: 50%;

      &:after {
        border-radius: 50%;
      }
    }
  }
}

::ng-deep {
  .timezones-modal {
    .ant-modal-body {
      min-width: unset !important;
      padding: 4px !important;
      background-color: $light !important;
    }
  }
}

timezone-item {
  background-color: $inputBackground;

  &:hover {
    background-color: $light;
  }

  &.selected {
    background-color: $light3;
  }

  &.disabled {
    background-color: transparent;
    opacity: 0.3;
  }
}

.title {
  padding-left: 10px;
  text-align: left;
  color: $titleColor;
  font-size: 14px;
  padding-bottom: 10px;
  user-select: none;
}

.timezones-header {
  display: flex;
  align-items: center;
  user-select: none;
  font-size: 10px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 4px;

  .column {
    padding-left: 10px;
  }
}

.column {
  width: 50%;
}

.timezones-column {
  overflow: auto;
  max-height: 350px;
  background-color: $inputBackground;
  margin-left: 4px;
  padding: 5px;
}

.reset {
  text-transform: none;
  color: $risingColor;
  cursor: pointer;
  margin-left: auto;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.move-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  .move-button {
    width: 24px;
    height: 24px;
    font-size: 12px;
    background-color: $tabFrameColor;
    color: $risingColor;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
  }
}

.max-size-error {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $red;
  padding: 4px 8px;
  border-radius: 2px;
  text-align: left;
  font-size: 11px;
  line-height: 16px;
  color: #fff;
  z-index: 1;

  .icon-close-window {
    padding-left: 8px;
    font-size: 11px;
    transition: color .2s ease;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }
}
