::ng-deep .center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .center-modal .ant-modal {
  top: 0;
  padding: 0;
  background-color: #24262C;
  border-radius: 4px;

  &-header {
    background-color: #24262C;
    border: none;
    padding: 0 4px;
  }

  &-close {
    top: 6px;
    right: 8px;

    $iconSize: 11px;

    &-x,
    &-icon {
      width: $iconSize;
      height: $iconSize;
      font-size: $iconSize;
      line-height: $iconSize;
      margin: 0;
      padding: 0;
    }
  }

  &-title {
    line-height: 32px;
    font-size: 14px;
    font-weight: 600;
    color: #A1A2A5;

    .ng-star-inserted {
      display: flex;

      i {
        color: #FFFFFF;
        font-size: 13px;
        margin: 0 9px 0 4px;
      }
    }
  }

  &-footer {
    display: none;
  }

  .container {
    min-width: 618px;
    min-height: 474px;
    padding: 0 4px 4px;
    display: flex;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 12px;
      }
    }

    .tabs {
      border-radius: 4px;
      width: 180px;
      background-color: #1B1D22;
      padding: 12px 8px;
      
      li {
        border-radius: 2px;
        padding: 4px 8px;
        margin-bottom: 1px;
        cursor: pointer;

        &.active,
        &:hover {
          background-color: #24262C;
        }
      }
    }

    .tab-content {
      padding: 0 16px;
      flex-grow: 1;

      li {
        display: flex;
        flex-direction: column;
        padding: 2px 0 10px;

        .title {
          margin-bottom: 6px;
        }

        .select {
          border-radius: 2px;
          background-color: #101114;
          color: #FFFFFF;
          width: 180px;

          .ant-select-selector {
            border: none;
            font-size: 12px;
          }

          .ant-select-arrow {
            // Customize arrow
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid #51535A;
          margin-bottom: 10px;
        }
      }
    }
  }
}

button {
  background-color: transparent;
}