
body.#{$themeName} {

  :host {
    background-color: $tabBackground;

   ::ng-deep data-grid {
      background: $gridBackground;
    }

    .list-type {

      .list, .group {
        background: $lightBackground;
        color: $textColorSecondary;

        &.active {
          background: $bodyBackground;
          color: $textColor;
        }
      }
    }
  }

}
