<cdk-virtual-scroll-viewport [itemSize]="20">
  <section #tableContainer>
      <div style="display: flex; flex-wrap: wrap">
<!--        <div style="flex: 1 1 auto;" [style.top]="inverseTranslation" appResizeble>index</div>-->
        <div style="flex: 1 1 auto" [style.top]="inverseTranslation" *ngFor="let column of columns; let ind = index" class="head cell th"
          [title]="column">
          <div class="data">{{column}}<i (click)="delete(ind)" nz-icon nzType="delete"></i></div>
        </div>
        <div [style.top]="inverseTranslation" class="head cell">
          <button nz-button [nzType]="'primary'" (click)="showModal()"><i nz-icon nzType="setting"></i></button>
          <nz-modal [(nzVisible)]="isVisible" nzTitle="Add options" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
            <nz-transfer
              [nzDataSource]="list"
              [nzTitles]="['Source', 'Target']"
              (nzSelectChange)="select($event)"
              [nzSelectedKeys]="['0', '2']"
              (nzChange)="change($event)"
            >
            </nz-transfer>
          </nz-modal>
         </div>
      </div>

      <div style="display: flex; flex-wrap: wrap"
        [attr.data-row]="i"
        *cdkVirtualFor="let item of items; let i = index; trackBy: trackByFn" [className]="item.class">
<!--         <div style="flex: 1 1 auto;">{{item.id}}</div>-->
        <ng-container *ngFor="let column of columns; let j = index">
          <div style="flex: 1 1 auto;"
            [attr.data-column]="column"
            [attr.colspan]="item[column].colSpan"
            *ngIf="item[column]" class="column cell" [ngClass]="column">
            <div *itemViewBuilder="item && item[column]" [ngClass]="item[column].class" class="data">
              {{item[column].value}}
            </div>
          </div>
        </ng-container>
<!--        <div style="width: 100%"></div>-->
      </div>
  </section>
</cdk-virtual-scroll-viewport>
