<cdk-virtual-scroll-viewport [itemSize]="20">
  <section #tableContainer>
      <div class="head-flex">
<!--        <div style="flex: 1 1 auto;" [style.top]="inverseTranslation" appResizeble>index</div>-->
        <div   [style.top]="inverseTranslation" *ngFor="let column of columns; let ind = index" class="head cell head-flex-child"
          [title]="column">
          <div class="data">{{column}}<i (click)="delete(ind)" nz-icon nzType="delete"></i></div>
        </div>
        <div [style.top]="inverseTranslation" class="head cell head-flex-child">
          <button nz-button [nzType]="'primary'" (click)="createComponentModal()"><i nz-icon nzType="setting"></i></button>
         </div>
      </div>

      <div style=" display: flex;
    flex-wrap: wrap"
        [attr.data-row]="i"
        *cdkVirtualFor="let item of items; let i = index; trackBy: trackByFn" [className]="item.class">
<!--        <div style="flex: 1 1 auto;">{{item.id}}</div>-->
        <ng-container *ngFor="let column of columns; let j = index">
          <div
            [attr.data-column]="column"
            [attr.colspan]="item[column].colSpan"
            *ngIf="item[column]" class="column cell head-flex-child" [ngClass]="column">
            <div *itemViewBuilder="item && item[column]" [ngClass]="item[column].class" class="data">
              {{item[column].value}}
            </div>
          </div>
        </ng-container>
<!--        <div style="width: 100%"></div>-->
      </div>
  </section>
</cdk-virtual-scroll-viewport>
