$odd-background: #272b37;
$even-background: #303644;
$height: 36px;
$grips-z-index: 20;

cdk-virtual-scroll-viewport {
  height: 100%;
}

@import "themes/index";

:host {
  display: block;
  height: 100%;
  width: 100%;

  .grid {
    height: 100%;
    width: 100%;
    //padding-right: 18px; //scroll
  }

  .table-container {
    // overflow-x: auto;
    // overflow-y: auto;
    height: 100%;
  }

  // .scroll {
  //   z-index: $grips-z-index;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   overflow-x: hidden;
  //   overflow-y: scroll;

  //   .fake-container {
  //     display: block;
  //     background: transparent;
  //     width: 1px;
  //     height: 100%;
  //   }
  // }

  &.phone {
    .scroll {
      width: 10px;
    }
  }

  .data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th {
    position: sticky;
    top: 0;
    border-top: 0px !important;

    .grips {
      position: absolute;
      top: 0;
      cursor: col-resize;
      width: 1px;
      z-index: $grips-z-index;
      height: 37px;
      //background: grey;

      &:before {
        content: "";
        cursor: col-resize;
        position: absolute;
        width: 20px;
        left: -10px;
        height: 100%;
      }

      &:hover,
      &.active {
        background: grey;
        height: 100%;
      }
    }

    //&:nth-last-child(2) {
    //  .grips {
    //    &:before {
    //      width: 10px;
    //      left: -10px;
    //    }
    //  }
    //}
  }

  table {
    table-layout: fixed;
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    // position: relative;

    td,
    th {
      text-align: left;
      padding: 6px;
      font-size: 16px;
      line-height: 20px;
      font-weight: normal;
      overflow: hidden;
      white-space: nowrap;
    }

    thead {
      tr {
      }
    }

    tr {
      width: 100%;
      //margin: 1px;

      &:hover {
        cursor: pointer;
      }

      &.selected {
        cursor: pointer;
        //outline: 1px solid rebeccapurple;
      }

    }
  }
}
