<form [formGroup]="form" class="volume-background">
  <div (click)="addVolume(-this.step)" class="minus">-</div>
  <div class="volume">
    <div>Volume</div>
    <div class="value">{{volume}}</div>
  </div>
  <div (click)="addVolume(this.step)" class="add">+</div>
</form>

<button (click)="apply($event)" class="sell">
  Sell
  <div class="price">
    1.24000
  </div>
</button>
<button (click)="apply($event)" class="buy">
  Buy
  <div class="price">
    1.24000
  </div>
</button>

<positions [instrument]="instrument"></positions>