<div class="scxNavigationWrapper">
    <div class="scxNavigation">
        <div>
            <span class="scxNavigation-btn scxNavigation-btn-scrollToFirst scx-icon icon-scroll-start" data-i18n="[title]navigation.scroll.start"></span>
            <span class="scxNavigation-btn scxNavigation-btn-scrollLeft scx-icon icon-scroll-left" data-i18n="[title]navigation.scroll.left"></span>
            <span class="scxNavigation-btn scxNavigation-btn-zoomOut scx-icon icon-zoom-out" data-i18n="[title]navigation.zoom.out"></span>
            <span class="scxNavigation-btn scxNavigation-btn-reload scx-icon icon-renewal-v2" data-i18n="[title]navigation.reload"></span>
            <span class="scxNavigation-btn scxNavigation-btn-zoomIn scx-icon icon-zoom-in" data-i18n="[title]navigation.zoom.in"></span>
            <span class="scxNavigation-btn scxNavigation-btn-scrollRight scx-icon icon-scroll-right" data-i18n="[title]navigation.scroll.right"></span>
            <span class="scxNavigation-btn scxNavigation-btn-scrollToLast scx-icon icon-scroll-end" data-i18n="[title]navigation.scroll.end"></span>
        </div>
    </div>
</div>