<div class="utc-time">
  <label nz-checkbox
         [nzChecked]="timezone.enabled"
         *ngIf="canToggle"
         (nzCheckedChange)="toggleEnabled.emit($event)">
  </label>

  <div class="name">
    <span *ngIf="!editing">{{timezone.name}}</span>

    <input *ngIf="editing"
           nz-input type="text"
           #inputElement
           (blur)="handleInputBlur(inputElement.value)"
           [value]="timezone.name">
  </div>

  <span class="icons-container" *ngIf="editable">
           <i (click)="editing = true" title="Edit" data-name="Edit" class="icon-edit"></i>
           <i (click)="reset.emit()" title="Reset" data-name="Reset" class="icon-reset"></i>
           <i (click)="delete.emit()" title="Remove from current" data-name="Remove from current"
              class="icon-close-window"></i>
        </span>
</div>

<div class="subtitle">{{timezone.text}}</div>
