@import "~src/scss/variables";
@import "~src/scss/dark.theme";
// @import "../themes/index";


:host {
  display: block;
  width: 100%;
  height: auto;
  background-color: $tabFrameColor;
  text-align: left;
  color: $textColor;
  padding: 4px;
  margin: 3px 0;
  border-radius: 2px;
  user-select: none;

  &:hover {
    .icons-container {
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover {
    background-color: $light3;
  }
}

.icons-container {
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  transition: opacity .3s ease;

  i {
    font-size: 9px;
    cursor: pointer;

    &:hover {
      color: $primary;
    }

    &:not(:first-child) {
      margin-left: 6px;
    }
  }
}

.utc-time {
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 4px;

  label {
    margin-right: 7px;
  }

  .name {
    font-size: 12px;
    font-weight: 600;
    color: $titleColor;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 7px;

    input {
      width: 100%;
      padding: 0 5px;
      color: $titleColor;
      font-size: 12px;
      background-color: $light;
    }
  }
}

.subtitle {
  white-space: normal;
  max-width: 100%;
  font-size: 10px;
  line-height: 14px;
  color: $textColor;
}
