<window-header [window]="this"></window-header>
<div class="layout">
  <div class="menu">
    <div class="menu-header"><span class="menu-title">Current</span>
      <button (click)="addIndicator()" class="add-button">ADD</button>
    </div>
    <div class="menu-list">
      <ul>

        <li *ngFor="let item of indicators"
            (click)="selectIndicator(item)"
            [class.selected]="isSelected(item)"><i class="icon-visible"></i>{{item.name}}
          <i class="icon-minus ml-auto"></i>
        </li>

      </ul>
    </div>
  </div>
  <div class="form-layout">
    <div class="menu-header">
      <span class="menu-title">Properties</span>
    </div>
    <cdk-virtual-scroll-viewport itemSize="">
      <formly-form
        *ngIf="selectedIndicator"
        [form]="form"
        [(model)]="selectedIndicator.settings"
        [fields]="selectedIndicator.config">
      </formly-form>
    </cdk-virtual-scroll-viewport>
  </div>


</div>
