@import "~src/scss/variables";

:host {
  background: $light;

  .indicator-name {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 145px;
  }

  ::ng-deep {
    formly-form {
      .template-label, .ant-checkbox+span, .number-label, .color-label, .switch-label, .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        color: $text-60;
      }
    }

    formly-form .ant-form-item-has-error .ant-select:not(.ant-select-borderless) .ant-select-selector {
      border-color: transparent !important;
    }

    .zigzagoscillator, .volumebreakdown, .footprint {
      .ant-checkbox-wrapper {
        padding-left: 5px;
      }
    }

    .custom-form-control.ant-select, .custom-form-control.ant-select .ant-select-selector {
      height: 20px !important;
    }

    .accumulate-session {
      justify-content: space-between;
      padding-left: 2px;
      padding-right: 2px;
      display: flex;
    }

    formly-form .checkbox-field-group {
      padding: 0;
    }

    formly-form > formly-field > formly-wrapper-nz-form-field > nz-form-item > nz-form-label > label {
      color: $text-80 !important;
    }

    formly-form {
      .ant-radio, .ant-radio-group, .ant-radio-wrapper, .template-label, .ant-checkbox + span, .number-label, .color-label, .switch-label, .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        color: $text-60;
      }
    }

    .icon-search {
      color: $light2;
    }

    window-header {
      position: relative;

      .wm-draggable.title {
        color: $text-80;
      }

      &:after {
        right: 0;
        width: 398px;
        content: '';
        height: 100%;
        background: $secondary;
        position: absolute;
        z-index: -1;
      }
    }

    .hide-border-label {
      nz-form-item .ant-form-item-label label {
        display: none;
      }
    }

    .general-fields {
      & > * {
        margin-top: 5px;
        display: block;
      }
    }

    .general-indicator-select {
      nz-form-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0px;
      }
    }

    .position-select {
      label {
        margin-right: 4px;
      }
    }

    .wvap-duration.session-template {
      label {
        display: none;
      }

      data-select {
        grid-template-columns: 1fr;
      }
    }

    .bar-stats-border {
      border: 1px solid $lighter;
      padding: 12px 8px;
      position: relative;

      &:before {
        display: block;
        content: "Header";
        position: absolute;
        left: 18px;
        top: -9px;
        font-size: 0.75rem;
        background: #1B1D22;
        padding-left: 7px;
        padding-right: 7px;
      }

      &.bar-font-stats-border:before {
        content: "Font";
      }
    }

    .reverse-switch-label {
      switch {
        flex-direction: row;
      }

      switch nz-switch, switch .switch-label {
        width: auto;
        margin-left: 7px;
      }
    }

    .reverse-number-label {
      number-input {
        flex-direction: row;

        .number-label {
          margin-left: 6px;
        }
      }
    }

    .regular-number-label {
      number-input {
        .number-label {
          font-weight: 400;
        }
      }
    }

    .width-select {
      width: 38px;
    }

    .regularSwitch {
      switch .switch-label {
        font-weight: 400;
      }
    }

    .width-row {
      grid-template-columns: 4fr 1fr;
      grid-column-gap: 5px;

      nz-select {
        min-width: 1px;
      }
    }

    .color-without-label {
      color-picker {
        .color-wrapper {
          width: 20px;
        }

        .color-label {
          display: none;
        }
      }
    }

    .tickPerPrice {
      number-input {
        nz-input-number {
          width: 92px;
          margin-left: 8px;
        }

        .number-label {
          font-weight: 400;
        }
      }
    }

    .hideLabel {
      .ant-form-item-control-input {
        display: none;
      }

      nz-form-label {
        margin-bottom: 0 !important;
        border-bottom: none !important;
        margin-top: -3px;

        label {
          font-size: 0.75rem;
          font-weight: 400;
          padding-bottom: 0;
          margin-left: 0 !important;
        }
      }
    }

    .inner-value-area {
      grid-template-columns: 14px 1fr 4fr;
      grid-column-gap: 6px;
    }

    .span-three-rows {
      grid-column: 1 / span 3;
    }

    .vaOpacityNumber {
      number-input {
        nz-input-number {
          width: 44%;
          padding-right: 0;
        }

        .number-label {
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 1.3rem;
          white-space: nowrap;
          width: 61% !important;
          display: inline-block;
          margin-right: 4px;
        }
      }
    }

    .profile-settings.bordered {
      .vaOpacityNumber {
        .number-label {
          margin-right: 3px;
        }
      }
    }

    .line-style-row {
      grid-template-columns: 3fr 1fr 3fr;
      grid-column-gap: 4px;
    }

    .stroke-color {
      width: 20px;

      .color-label {
        display: none;
      }

      color-picker .color-wrapper {
        padding-left: 5px;
      }
    }

    .minimize-select {
      .ant-form-item-control-input {
        min-height: 1px;
      }

      .ant-form-item-label > label {
        height: 20px;
      }
    }

    .single-label {
      nz-form-control {
        display: none;
      }

      .ant-form-item-label label {
        height: auto;
      }
    }

    .label-text-end nz-form-item .ant-form-item-label {
      text-align: end;
    }

    .block {
      display: block;
    }

    nz-select {
      min-width: 50px;
    }

    .checkbox-right {
      .ant-form-item-control-input-content {
        justify-content: flex-end;
        display: flex;
      }
    }

    .full-number-input {
      .ant-input, nz-input-number {
        width: 100%;
      }
    }

    .smooth-price {
      number-input {
        flex-direction: row;

        .ant-input {
          width: 100%;
        }

        .number-label {
          margin-left: 6px;
          width: auto;
        }
      }
    }

    .profile-period {
      & > formly-wrapper-nz-form-field > .ant-form-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
      }

      .period-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 3px;
      }

      number-input input {
        width: 100%;
      }
    }

    .profile-alignment {
      .icon-align-left.icon-align {
        margin-left: auto;
      }

      .icon-align-center {
        display: none;
      }
    }

    .right-switch {
      margin-left: auto;
      margin-right: 10px;
      height: 32px;

      switch nz-switch, switch .switch-label {
        width: auto;
      }
    }

    switch {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .switch-label {
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.1rem;
      }

      nz-switch, .switch-label {
        width: 50%;
        margin-left: 0;
      }

      nz-switch {
        margin-left: 10px;
      }
    }

    .hide-border-bottom {
      nz-form-item .ant-form-item-label {
        margin-bottom: 0;
        border-bottom: none;
      }
    }

    .visual-style-width {
      width: calc(50% - 9px);
      margin-left: 2px;
    }

    .number-line-length {
      .ant-input-number {
        margin-left: 7px;
      }
    }

    .number-full-width {
      .ant-input-number {
        width: 100%;
      }
    }

    .font-size-number {
      .ant-input-number {
        width: 44px;
      }
    }

    nz-form-item .ant-form-item-label {
      text-align: start;
      margin-bottom: 6px;
      color: $text-60;
      position: relative;

      /*  &:after {
          content: '';
          height: 1px;
          background: #383A40;
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
        }*/

      label {
        margin-bottom: 0;
        margin-left: 2px;
      }
    }

    .ant-input {
      font-size: 0.7rem;
      line-height: 1rem;
      background: $light;
      height: 20px;
      border: 1px solid transparent;
    }

    .ant-form-item-label > label, .template-label {
      font-size: 0.86rem;
      line-height: 1.2rem;
      font-weight: 600;
      color: $text-60;
    }

    .template-label {
      color: $text-60;
      font-weight: 600;

      margin-right: 5px;
    }

    .valuaArea {
      .ant-input-number {
        width: 92px;
      }
    }

    .number-50 {
      .ant-input-number {
        width: 50%;
      }
    }

    .smoothedPrices {
      .ant-input-number {
        width: 69px;
      }
    }

    .profile-width {
      number-input {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;

        .number-label {
          order: -1;
        }
      }
    }

    .split-select {
      nz-form-label, nz-form-control {
        width: 50%;
        height: 20px;
      }
    }

    .split-input {
      nz-form-label {
        width: 50%;
      }

      nz-form-control {
        margin-left: 5px;
        width: 47%;
      }

      number-input .ant-input {
        margin-left: 6px;
        width: 49%;
      }

    }

    color-picker {
      .color-label {
        font-size: 0.8rem;
        line-height: 1.1rem;
      }

      .color-wrapper {
        padding: 0;
        padding-left: 6px;
        height: 20px;
        display: flex;
        align-items: center;
      }

      .color-input {
        height: 12px;
        width: 12px;
      }
    }

    .calculate-profiles {
      .ant-input-number {
        width: 92px;
      }

      .ant-input {
        width: 40%;
        margin-left: 4px;
      }

      .number-label {
        width: 70%;
        margin-left: 0;
      }
    }

    .outsideVa {
      input {
        width: 53%;
      }
    }

    number-input {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;

      .number-label {
        font-weight: 600;
        font-size: 0.8rem;
        // line-height: 1.1rem;
        width: calc(50%);
        margin-left: 1px;
        display: flex;
        align-items: center;
      }

      input {
        height: 20px;
      }
    }

    .ant-checkbox-wrapper, .regular-label .ant-form-item-label label {
      font-size: 0.8rem;
      line-height: 1.1rem;
      color: $text-60;
      font-weight: 400;
    }

    .ant-checkbox-wrapper {
      display: flex;
      color: $text-60;
      align-items: center;

      .ant-checkbox {
        top: 0;
      }
    }

    .regular-label {
      .ant-form-item-label {
        label {
          font-weight: 600;
          margin-left: 0;
        }
      }
    }

    .label-400 {
      .ant-form-item-label {
        label {
          font-weight: 400;
        }
      }
    }

    .summary-color {
      padding-top: 3px;
    }

    .session-template {
      data-select {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;

        label {
          margin-right: 0 !important;
        }
      }
    }

    .field-container {
      padding-left: 2px;
      padding-right: 2px;
      display: block;
    }

    .inline-fields {
      display: block;

      nz-form-item {
        flex-direction: row;
      }
    }


    nz-form-item {
      flex-direction: column;
      margin-bottom: 7px;
    }


    nz-form-item {


      .ant-form-item-label {
        text-align: left;

        label {
          &:after {
            content: unset;
          }
        }
      }
    }

    .wm-draggable.title {
      margin-left: 13px;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: $text-60;
    }

    .cdk-virtual-scroll-content-wrapper {
      height: 100%;
      width: 100%;
      contain: unset;
      padding-right: 2px;
      padding-left: 2px;
    }

    .d-grid {
      display: grid;
    }

    .min-width-80 {
      width: 80px;
    }

    .vwap-styles-grid {
      display: grid;
      grid-template-columns: 4fr 20px 2fr;
      grid-column-gap: 4px;
    }

    .vwap .style {
      & > formly-wrapper-nz-form-field > .ant-form-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        padding-left: 2px;
        padding-right: 2px;
      }
    }

    .two-rows, .up-down-rows, .session-stats-general-rows, .three-rows, .font-rows, .group-row, .four-rows, .liner-rows, .band-rows, .average-period-rows, .zero-line-rows {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 6px;
      padding-left: 2px;
      padding-right: 2px;
    }

    .up-down-rows {
      grid-template-columns: 86px 86px;

    }

    .session-stats-general-rows {
      grid-template-columns: 2fr 1fr;

      .select nz-form-item {
        display: block;
      }
    }

    .group-row {
      grid-template-columns: 2fr 1fr 1fr;
      align-items: center;

      .ant-input-number {
        width: 100%;
      }
    }

    .average-period-rows {
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 5px;
      padding: 0;
    }

    .zero-line-rows {
      grid-template-columns: 1.3fr 20px 1fr;
      padding: 0;
    }

    .three-rows {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .font-rows {
      grid-template-columns: 20px 157px 113px 1fr;
    }

    .band-rows {
      grid-template-columns: 1fr 1fr 20px 1fr;
    }

    .liner-rows {
      grid-template-columns: 2fr 2fr 50px 1fr;
    }

    .four-rows {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .zero-line-rows {

    }

    .ant-form-item {
      margin-bottom: 0;
    }

    nz-select-top-control {
      background: $light !important;
      height: 20px !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
      box-shadow: none !important;
    }

    .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
      border-color: rgba($primary, 0.5);

    }

    nz-select-item {
      font-size: 0.7rem !important;
      line-height: 20px !important;
    }

    .ant-select-arrow {
      font-size: 8px;
      top: 63%;
      right: 6px;
    }

    formly-field-nz-select {
      height: 20px;
      line-height: 16px;
      display: block;
    }

    .select {
      .ant-form-item-label {
        text-align: left;
        margin: 0;
        border: none;

        > label {
          font-weight: 600;
          font-size: 0.8rem;
          margin-left: 0;
          line-height: 1.1rem;
          color: $text-60;
          margin-bottom: 0;
        }
      }

      nz-form-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 6px;

      }
    }

    .full-width {
      grid-column: 1 / span 2;
    }

    .half-width {
      width: calc(50% - 10px);
    }

    .profile-settings {
      lib-color-select {
        margin-top: 24px;
      }

      .session-template nz-select {
        margin-top: 1px;
      }

      .extend-naked-poc {
        grid-column: 1 / span 2;
      }

      &.bordered {
        number-input .number-label {
          width: 50%;
        }
      }
    }

    .profile-type {

    }

    .bordered {
      border: 1px solid $lighter;
      padding: 8px;
      position: relative;
      padding-top: 4px;
      padding-bottom: 4px;

      & > formly-wrapper-nz-form-field > nz-form-item > nz-form-label {
        position: absolute;
        top: -18px;
        left: 27px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: none;
        margin-bottom: 0;
        background: $inputBackground;
      }
    }

    .profile-settings-extended {
      .extend-naked-poc {
        grid-column: unset;
      }
    }

    .hide-account {
      grid-column: 2;
      grid-row: 4;
    }
  }
}

.expand-all {
  border-radius: 2px;
  margin-right: 5px;
  color: $text-40;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 10px;
    transition: all 0.3s;
  }

  .all-expaned {
    transform: rotate(180deg);
  }
}

::ng-deep {
  .group-preview-class formly-group {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }

  .indicator-tooltip .ant-tooltip-inner {
    background: $light;
    color: $text-60;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 12px;
    border-radius: 2px;
  }
}

.layout {
  display: flex;
  height: 100%;
}

.form-layout {
  width: 100%;
  height: 100%;
  background: $secondary;
}

.scroll-container {
  height: calc(100% - 15px);
}

.form-layout cdk-virtual-scroll-viewport {
  height: 100%;
  background: $secondary;
}


formly-form {
  display: block;
  min-height: 100%;
  padding: 9px 3px 8px 5px;
}

.menu {
  min-width: 200px;
  height: 100%;

}

.menu-list, .bottom-menu {
  margin-top: 3px;
  padding-left: 14px;
  padding-right: 8px;
  padding-top: 8px;
}

.bottom-menu {
  margin-top: 6px;
  height: 241px;
  display: flex;
  padding-left: 23px;
  border-top: 1px solid $light3;
  flex-direction: column;

  .remove-all-text {
    display: inline-block;
    color: $text-40;
    margin-top: auto;
    margin-left: auto;
    font-size: 0.8rem;

    &.is-removable {
      cursor: pointer;
    }
  }
}

:host ::ng-deep {
  .deltabox-field {
    nz-form-item .ant-form-item-label label {
      margin-left: 7px;
    }
  }

  .number-space-around {
    number-input {
      justify-content: space-around;
    }
  }

  .number-space-between {
    number-input {
      justify-content: space-between;
    }
  }

  .number-space-evenly {
    number-input {
      justify-content: space-evenly;
    }
  }

  .number-justify-end {
    number-input {
      justify-content: end;
    }
  }

  .band-label {
    nz-form-item .ant-form-item-label {
      margin-bottom: 12px;
    }
  }

  .data-box-border {
    border: 1px solid #383A40;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 8px;
  }

  .zig-zag {
    grid-row-gap: 8px;

    .half-width {
      width: calc(50% - 8px);
    }

    number-input .number-label {
      width: calc(50% + 25px);
    }
  }

  .all-group, .current-text {
    color: $light2;
    font-size: 0.93rem;
    transition: color 0.3s;
  }

  .current-text {
    padding-left: 6px;
  }

  .all-group-clickable {
    cursor: pointer;

    &:hover {
      color: $text-40;
    }
  }

  .search-group {
    height: 20px;
    border: none;
    width: auto;

    .icon-search {
      font-size: 10px;
    }
  }

  .menu {
    cdk-virtual-scroll-viewport {
      margin-top: 10px;
      height: 183px;
    }

    ul, .cdk-virtual-scroll-content-wrapper {
      padding: 0;
    }

    .indicator-item {
      color: $text-60;
      margin-left: 10px;
      margin-right: 5px;
      font-size: 0.85rem;
      padding-left: 8px;
      border-radius: 2px;
      height: 22px;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      cursor: pointer;
      margin-top: 2px;
      line-height: 14px;


      &:hover {
        background: $light3;
        color: #FFFFFF;
      }
    }
  }
}

::ng-deep {
  .cdk-drag-placeholder {
    display: none;
  }

  .current-indicators {
    color: $text-60;
    font-size: 0.8rem;
    margin-top: 2px;
    height: 22px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    line-height: 14px;
    padding-left: 6px;

    &:first-child {
      margin-top: 7px;
    }

    &.selected {
      background: $light;
      color: #fff;
    }

    &:hover {
      background: $light3;
      color: #fff;

      .icon-bucket, .icon-visible, .icon-not-visible {
        opacity: 1;
      }
    }

    .icon-visible, .icon-not-visible {
      opacity: 0;
      color: $text-60;
      transition: all 0.3s;
      margin-right: 8px;
    }

    .icon-bucket {
      opacity: 0;
      transition: opacity 0.3s;
      font-size: 10px;
      margin-right: 10px;
      color: $text-60;
    }
  }
}

.indicator-group-item {
  font-size: 0.85rem;
  color: $text-60;
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 5px;
  }

  .arrow {
    font-size: 8px;
    margin-right: 6px;
    transition: all 0.5s;
  }

  .arrow-up {
    transform: rotate(180deg);
  }

  &.expanded {
    // color: #fff;
  }
}

.menu-title {
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 160%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.add-button {
  background-color: #101114;
  padding: 2px 18px;
  border-radius: 2px;
  font-weight: 600;
  border: 0.5px solid $primary;
  font-size: 0.7rem;
  line-height: 1;
  height: 18px;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 4px;
  height: 100%;
  padding-top: 5px;
  padding-right: 4px;
}

li {
  cursor: pointer;
}

.icon-visible, .icon-not-visible {
  font-size: 10px;
  line-height: 1;
}
