<cdk-virtual-scroll-viewport [itemSize]="20">
  <table #tableContainer>
    <thead>
    <tr>
      <th 
        resizable 
        [style.top]="inverseTranslation" 
        *ngFor="let column of activeColumns; let ind = index" 
        class="head cell data"
        [title]="column">{{column.name}}
      </th>
      <th [style.top]="inverseTranslation" class="head cell">
        <button 
          class="btn-setting"
          nz-button 
          (click)="createComponentModal()"
        >
          <i class="icon-setting-gear"></i>
        </button>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr 
      [attr.data-row]="i"    
      *cdkVirtualFor="let item of items; let i = index; trackBy: trackByFn" 
      [className]="item.class"
    >
      <ng-container *ngFor="let column of columns; let j = index">
        <td
          [attr.data-column]="column.name"
          [attr.colspan]="item[column.name].colSpan"
          *ngIf="item[column.name]" 
          class="column cell" 
          [ngClass]="column.name"
        >
          <span 
            *itemViewBuilder="item" 
            [ngClass]="item[column.name].class"
            class="data"
          >
            {{item[column.name].value}}
          </span>
        </td>
      </ng-container>
      
      <td style="width: 100%"></td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <ng-content select="instrument-select"></ng-content>
        </td>
      </tr>
    </tfoot>
  </table>
</cdk-virtual-scroll-viewport>
