<div class="grid" #tableContainer></div>
<!-- <table #tableContainer>
  <thead>
  <tr>
    <th
      [height]="rowHeight"
      [style.top]="inverseTranslation"
      *ngFor="let column of activeColumns; let ind = index"
      class="head cell data"
      [width]="100"
      [title]="column.name">{{column.name}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr
    [attr.data-row]="i"
    *ngFor="let item of items; let i = index; trackBy: trackByFn"
    [style.height.px]="rowHeight"
    [className]="item.class"
  >
    <ng-container *ngFor="let column of columns; let j = index">
      <td
        [style.height.px]="rowHeight"
        [attr.data-column]="column.name"
        [attr.colspan]="item[column.name].colSpan"
        *ngIf="item[column.name]"
        class="column cell"
        [ngClass]="column.name"
      >
        <span
          *itemViewBuilder="item[column.name]"
          [ngClass]="item[column.name].class"
          class="data"
        >
        {{item[column.name].value}}
        </span>
      </td>
    </ng-container>
    <td [style.height.px]="rowHeight" style="width: 100%"></td>
  </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" [style.height.px]="rowHeight">
        <ng-content select="instrument-select"></ng-content>
      </td>
    </tr>
  </tfoot>
</table> -->
