// $odd-background: #272b37;
// $even-background: #303644;
// $height: 36px;
// $grips-z-index: 20;
// cdk-virtual-scroll-viewport {
//   height: 100%;
// }

// @import "themes/index";
@import "~src/scss/variables";

:host {
  display: block;
  height: 100%;
  width: 100%;
  background: #1b1d22;
  position: relative;

  ::ng-deep canvas-datagrid {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    canvas {
      font-smooth: never;
      /*  position: absolute;
        top: 0;
        height: 100%;*/
      -webkit-font-smoothing: none;
    }
  }

  .grid {
    height: 100%;
    position: relative;
    width: 100%;
  }

  // .table-container {
  //   height: 100%;
  // }

  // &.phone {
  //   .scroll {
  //     width: 10px;
  //   }
  // }

  // .data {
  //   text-align: left !important;
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-transform: uppercase;
  //   text-overflow: ellipsis;
  // }

  // .th {
  //   position: sticky;
  //   top: 0;
  //   font-size: 0.8rem;
  //   text-transform: uppercase;
  //   border-top: 0px !important;

  //   .grips {
  //     position: absolute;
  //     top: 0;
  //     cursor: col-resize;
  //     width: 1px;
  //     z-index: $grips-z-index;
  //     height: 37px;

  //     &:before {
  //       content: "";
  //       cursor: col-resize;
  //       position: absolute;
  //       width: 20px;
  //       left: -10px;
  //       height: 100%;
  //     }

  //     &:hover,
  //     &.active {
  //       background: grey;
  //       height: 100%;
  //     }
  //   }
  // }

  // table {
  //   table-layout: fixed;
  //   width: 100%;
  //   font-family: arial, sans-serif;
  //   border-collapse: collapse;

  //   th,
  //   td {
  //     text-align: left;
  //     // padding: 8px;
  //     font-size: 0.8rem;
  //     line-height: 20px;
  //     font-weight: normal;
  //     overflow: hidden;
  //     white-space: nowrap;
  //   }
  //   th{
  //     color: #A1A2A5;
  //     font-weight: 400;
  //     font-size: 0.7rem;
  //   }

  //   ::ng-deep tfoot instrument-select div {
  //     height: 200px;

  //     button {
  //       width: 100%;
  //     }
  //   }

  //   tr {
  //     width: 100%;
  //     &:hover {
  //       cursor: pointer;
  //     }

  //     &.selected {
  //       cursor: pointer;
  //     }
  //   }
  // }
}

::ng-deep {
  .columns-items {
    background: #24262C !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    border-radius: 2px !important;

    &.column-main-menu {
      animation: fadein 0.8s;
    }

    label {
      width: 100%;
    }

    .ant-checkbox-inner {
      width: 10px;
      height: 10px;
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background: #1B1D22 !important;
    }

    .ant-menu-item {
      color: $text-80;
    }

    .ant-dropdown-menu-submenu-title > span > .anticon:first-child {
      font-size: 8px;
    }

    .align {
      margin-left: auto;
      border-radius: 2px;
      margin-right: 4px;
      background: $inputBackground;
      height: 16px;
      width: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 8px;
      }
    }

    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
      font-size: 0.8rem;
      color: $text-80;
      border-radius: 2px;
      height: 22px;
      display: flex;
      align-items: center;
      padding: 3px 0 3px 4px;

      &.ant-dropdown-menu-submenu-title-disabled, &.ant-dropdown-menu-item-disabled {
        color: rgba($text-80, 0.3);

        &:hover {
          color: rgba($text-80, 0.3);
          background: transparent;
        }
      }

      .ant-dropdown-menu-submenu-arrow {
        right: 2px;
      }
    }

    .menu-settings, .ant-dropdown-menu-submenu-title {
      padding-left: 5px;
    }

    .ant-menu-item:hover, {
      background: #1B1D22 !important;
      border-radius: 2px;
    }

    .ant-dropdown-menu-item-divider, .ant-dropdown-menu-submenu-title-divider {
      margin: 7px 5px 5px;
      background-color: #51535A;
    }

    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
      color: white;

      .ant-checkbox-wrapper {
        color: white;
      }
    }

    .ant-checkbox-wrapper {
      color: $text-80;
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
