<div class="position-container">
  <div *ngFor="let side of sides"
       [class.invisible]="!builder.getItems('side', side).length"
       class="list {{side}}">
    <div class="close-all">Close All <i (click)="deleteAll(side)" class="icon-close"></i></div>

    <div
      *ngFor="let position of builder.getItems('side', side); trackBy: trackByFn" class="list-item ">
      <div>
        <div class="item-volume">{{position.size}}</div>
        <div class="item-price">${{position.price}}</div>
      </div>
      <i (click)="deleteItem(position, $event)" class="icon-close"></i>
    </div>
  </div>
</div>
<div *ngIf="items.length" (click)="deleteAll()" class="close-all-positions">Close all positions</div>

