<window-header marginClass="" className="widget" [window]="this">
  <account-select
    className=""
    (accountChange)="handleAccountChange($event)"
  ></account-select>
  <instrument-select
    className=""
    [instrument]="instrument"
    (instrumentChange)="instrument = $event"
  ></instrument-select>
</window-header>
<cdk-virtual-scroll-viewport itemSize="">
  <form class="h-100 p-2 order-form-wrapper main-grid grid" [formGroup]="form">
    <div class="d-flex align-items-center">
      <span class="pos-title">Pos</span>
      <button class="position-button" [class.pos-negative]="isPositionsNegative">{{positionSum}}</button>
    </div>
    <div>
      <button (click)="closePositions()" class="close-position" nz-button>Close Position</button>
    </div>
    <div>
      <quantity-input [ngModel]="quantity"
                      [allowEdit]="false"
                      [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="updateQuantity($event)" [amountButtons]="amountButtons"></quantity-input>
    </div>
    <div class="grid gap-4">
      <nz-select formControlName="type" [nzOptionHeightPx]="20">
        <nz-option *ngFor="let item of OrderTypes" [nzValue]="item.value" [nzLabel]="item.label">
        </nz-option>
      </nz-select>
      <nz-select formControlName="duration" [nzOptionHeightPx]="20">
        <nz-option *ngFor="let item of OrderDurations" [nzValue]="item" [nzLabel]="item">
        </nz-option>
      </nz-select>
      <button (click)="toggleIce()" class="dark-button {{isIce ? 'ice-active': ''}}" nz-button>ICE</button>

      <button
        [class.d-none]="editIceAmount"
        (contextmenu)="$event.preventDefault(); editIceAmount = true" class="grey-button w-100"
        nz-button>{{iceAmount}}</button>
      <nz-input-number
        [class.d-none]="!editIceAmount"
        class="order-number-input w-100"
        (keyup.enter)="$event.preventDefault();editIceAmount = false"
        formControlName="iceAmount"
        (focusout)="$event.stopPropagation();editIceAmount = false"
      >
      </nz-input-number>
    </div>
    <sl-units overlayClass="order-form-overlay" formControlName="stopLoss"></sl-units>
    <tp-units overlayClass="order-form-overlay" formControlName="takeProfit"></tp-units>
    <div [class.d-none]="!isStopLimit" class="lmt-title">LMT</div>
    <nz-input-number
      [class.d-none]="!isStopLimit"
      class="limit-number-input"
      nzMin="1"
      [ngModelOptions]="{standalone: true}"
      [(ngModel)]="limitPrice"></nz-input-number>
    <div class="count">
      <div (click)="incrementQuantity()" class="cursor-pointer">
        <i class="icon-arrow-up"></i>
      </div>
      <nz-input-number
        [nzInputMode]="'numeric'"
        [nzMin]="1" formControlName="quantity" class="number"></nz-input-number>
      <div (click)="decrementQuantity()" class="cursor-pointer">
        <i class="icon-arrow-down"></i>
      </div>
    </div>
    <div [class.cursor-not-allowed]="shouldDisablePrice" class="count">
      <div (click)="increasePrice()" class="cursor-pointer">
        <i class="icon-arrow-up"></i>
      </div>
      <nz-input-number [ngModelOptions]="{standalone: true}"
                       [nzMin]="0"
                       [nzDisabled]="shouldDisablePrice"
                       [(ngModel)]="price" class="number"></nz-input-number>
      <div (click)="decreasePrice()" class="cursor-pointer">
        <i class="icon-arrow-down"></i>
      </div>

    </div>
    <div class="trade-button">
      <div class="buy-info">
        <span>{{askPrice != null ? askPrice : '--' }}</span> <span>{{askVolume != null ? askVolume : '--'}}</span>
      </div>
      <button
        (click)="submit(OrderSide.Buy)"
        class="buy-button" nz-button>Buy
      </button>
    </div>
    <div class="trade-button">
      <div class="sell-info">
        <span>{{bidPrice != null ? bidPrice : '--'}}</span> <span>{{bidVolume != null ? bidVolume : '--'}}</span>
      </div>
      <button
        (click)="submit(OrderSide.Sell)"
        nzType="danger"
        class="sell-button" nz-button>Sell
      </button>
    </div>
  </form>
</cdk-virtual-scroll-viewport>
