@import "~src/scss/variables";

$horizontal-padding: 8px;
:host {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  padding: 0 $horizontal-padding;

}
.navigation-button{
  cursor: pointer;
}
.dropdown-connection-name, .connection-name {
  max-width: 170px;
  min-width: 60px;
  display: block;
}

.dropdown-connection-name {
  font-size: 1rem;
  transition: all 0.3s;
}

.dropdown-connection-username {
  font-size: 0.8rem;
  transition: all 0.3s;
}

.dropdown-connection-item {
  color: white;
  &:hover {
  }
}

.dropdown-connected {
  .dropdown-connection-name {
    color: white;
  }
}

/*.absolute-overlay{
  left: unset;
}*/
.menu-indicator {
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  background: rgba($text-40, 0.3);
  justify-content: center;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;

  &:before {
    content: '';
    background: $text-40;
    height: 5px;
    width: 5px;
    border-radius: 50%;
  }

  &.indicator-connect {
    background: rgba($success, 0.3);

    &:before {
      background: $success;
    }
  }

  &.indicator-error {
    background: rgba($red, 0.3);

    &:before {
      background: $red;
    }
  }


}

.custom-panel-fixed {
  width: auto !important;
}

.connections-container {
  margin-right: -#{$horizontal-padding};
}

.navigation-button {
  transition: all .3s;
  height: 36px;
  width: 36px;
  cursor: pointer;

  &:hover {
    background-color: $inputBackground;
    color: white;
  }
}

.connection-item {
  padding-left: 10px;
  padding-right: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $text-80;
  transition: all 0.3s;

  &:hover {
    background: $inputBackground;
    color: white;
  }
}

.icon-signal {
  font-size: 15px;
}

.text-active {
  color: $primary;
}
