@import "icons";

body.#{$themeName} {


  :host {

    .icon-arrow-dropdown {
      color: $borderColor;
    }

    .instrument-bar {
      input {
        background-color: $tabBackground;
        color: $textColor;
      }

    }

    .pane {
      background-color: $tabBackground !important;
      color: $textColor !important;

      > div:not(:last-child) {

        &:after {
          background-color: $borderColor;
        }
      }

      ::ng-deep {


        nz-select {
          background-colfor: $tabBackground !important;
          color: $textColor !important;
        }

      }

    }
  }


}

::ng-deep body.#{$themeName} {
  .toolbar-dropdown nz-option-container {
    background: $tabBackground !important;
    width: 140px;

    .ant-select-item-option-content {
      color: $textColor !important;

    }

  }

  .toolbar-dropdown {
    .ant-dropdown-menu, &.ant-select-dropdown {
      background-color: $tabBackground !important;
      color: $textColor !important;

    }
  }

  .toolbar-submenu {
    background-color: $tabBackground !important;
    color: $textColor !important;
  }

}
