<div class="layout">
  <div class="left-side">
    <ul class="setting-list">
      <li class="setting-item active">General</li>
      <li class="setting-item">Setting 2</li>
      <li class="setting-item">Setting 3</li>
      <li class="setting-item">Setting 4</li>
    </ul>
  </div>
  <div class="right-side">
    <span class="change-theme">Change Theme</span>
    <div (click)="selectComponent.setOpenState(true)" class="select-container">
      <nz-select
        #selectComponent
        nzDropdownClassName="toolbar-dropdown"
        [nzShowArrow]="false"
        [(ngModel)]="currentTheme">
        <nz-option *ngFor="let theme of themes" [nzValue]="theme" [nzLabel]="theme"></nz-option>
      </nz-select>
      <i class="icon-arrow-dropdown"></i>
    </div>

  </div>
</div>
