@import "themes/index";

:host {
  display: block;
  height: 100%;
  overflow: auto;
  width: 100%;
  padding: 10px;


  ::ng-deep data-grid{
    height: calc(100% - 48px);
  }
}

.tabs {
  display: flex;
  margin-bottom: 15px;

  .tab {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 4px 10px;
    border-radius: 4px;

    &:not(:first-child) {
      margin-left: 10px;
    }

    .tab-icon {
      margin-right: 8px;
    }
  }
}

.ant-select {
  width: 140px;
}

