<div class="title">Timezones</div>

<div class="d-flex">
  <div class="column column-header">All</div>
  <div class="column column-header">
    <span>Current</span>
    <span class="reset">Reset</span>
  </div>
</div>

<div class="d-flex">
  <div class="column timezones-column">
    <ul nz-menu class="clock">
      <li
        nz-menu-item
        #item="nzMenuItem"
        *ngFor="let timezone of allTimezones"
        class="clock-utc"
      >
        <div class="utc-time">
          <label>{{timezone.offset | utc}}</label>
        </div>
        <div class="subtitle">{{timezone.text}}</div>
      </li>
    </ul>
  </div>

  <div class="column timezones-column">
    <ul nz-menu class="clock">
      <li
        nz-menu-item
        #item="nzMenuItem"
        *ngFor="let timezone of currentTimezones"
        class="clock-utc"
      >
        <div class="utc-time">
          <label nz-checkbox>UTC{{timezone.offset | utc}}</label>
          <span class="icons-container">
           <i title="Edit" data-name="Edit" class="icon-edit"></i>
           <i title="Reset" data-name="Reset" class="icon-reset"></i>
           <i title="Remove from current" data-name="Remove from current" class="icon-close-window"></i>
        </span>
        </div>
        <div class="subtitle">{{timezone.text}}</div>
      </li>
    </ul>
  </div>
</div>

<div class="move-buttons">
  <button class="move-button"><i class="icon-arrow-right-general"></i></button>
  <button class="move-button"><i class="icon-arrow-left-general"></i></button>
</div>
