<ul id="scxIndicatorContextMenu" class="dropdown-menu scxContextMenu" role="menu" >
    <li data-id="settings"><a href="#" data-i18n="compareInstrument.contextMenu.settings"></a></li>
    <li class="divider"></li>
    <li data-id="showMarkers" class="scxMenuItemCheckable"><a href="#" data-i18n="compareInstrument.contextMenu.showMarkers"></a></li>
    <li data-id="visible" class="scxMenuItemCheckable"><a href="#" data-i18n="compareInstrument.contextMenu.visible"></a></li>
    <li class="divider"></li>
    <li data-id="delete"><a href="#" data-i18n="compareInstrument.contextMenu.delete"></a></li>
    <li class="divider"></li>
    <li data-id="about"><a href="#" data-i18n="compareInstrument.contextMenu.about"></a></li>
</ul>