<ul id="scxIndicatorContextMenu" class="dropdown-menu scxContextMenu" role="menu" >
    <li data-id="settings"><a href="#" data-i18n="indicator.all.menu.settings"></a></li>
    <li class="divider"></li>
    <li data-id="showParams" class="scxMenuItemCheckable"><a href="#" data-i18n="indicator.all.menu.showParameters"></a></li>
    <li data-id="showMarkers" class="scxMenuItemCheckable"><a href="#" data-i18n="indicator.all.menu.showMarkers"></a></li>
    <li data-id="showTitleValues" class="scxMenuItemCheckable"><a href="#" data-i18n="indicator.all.menu.showValues"></a></li>
    <li data-id="visible" class="scxMenuItemCheckable"><a href="#" data-i18n="indicator.all.menu.visible"></a></li>
    <li data-id="lineLevels" class="scxMenuItemCheckable"><a href="#" data-i18n="indicator.all.menu.lineLevels"></a></li>
    <li class="divider"></li>
    <li data-id="mergeUp"><a href="#" data-i18n="indicator.all.menu.mergeUp"></a></li>
    <li data-id="mergeDown"><a href="#" data-i18n="indicator.all.menu.mergeDown"></a></li>
    <li data-id="unmergeUp"><a href="#" data-i18n="indicator.all.menu.unmergeUp"></a></li>
    <li data-id="unmergeDown"><a href="#" data-i18n="indicator.all.menu.unmergeDown"></a></li>
    <li class="divider"></li>
    <li data-id="delete"><a href="#" data-i18n="indicator.all.menu.delete"></a></li>
    <li class="divider"></li>
    <li data-id="about"><a href="#" data-i18n="indicator.all.menu.about"></a></li>
</ul>