$border-width: 1px;

.wm-window {
  display: flex;
  flex-direction: column;
  border: $border-width solid transparent;

  & > header {
    display: none !important;
  }

  & > * > window-header {
    display: flex;
    align-items: center;
    padding: 1px;
  }

  & > *:last-child {
    margin: #{-$border-width};
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    background: $light;
    border: 1px solid $lighter;
    box-shadow: 0 0 1px 1px #13141a;
  }
}
