$border-width: 1px;
@import "~src/scss/variables";

.wm-window {
  display: flex;
  flex-direction: column;
  border: $border-width solid transparent;
  transition: border 0.3s;

  &.active {
    border: $border-width solid transparent;

    &:not(.settings-container) window-header .window-icon i {
      color: $primary;
    }
  }

  & > header {
    display: none !important;
  }

  &.window-maximized window-header {
    .wm-draggable {
      cursor: default;
    }
  }

  & > * > window-header {
    display: flex;
    align-items: center;
    padding: 1px;
  }

  &.resizing,
  &.moving {
    &::after {
      content: "";
      z-index: 1000000000001;
      // background-color: #773f1a46;
      position: fixed;
      top: -100vh;
      left: -100vw;
      width: 300vw;
      height: 300vh;
    }
  }

  & > *:last-child {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    background: $light;
    // box-shadow: 0 0 1px 1px #13141a;
    // filter: drop-shadow(0px 0px 10px #15161D);
    box-shadow: 0px 0px 15px #101114;
  }
}
