<button 
  class="icon-notification{{notifications.length ? '-active' : ''}}"
  nz-dropdown 
  nzTrigger="click" 
  [nzClickHide]="false" 
  [nzDropdownMenu]="menu"
  [(nzVisible)]="visible"
>
  <i *ngIf="notifications.length" class="icon-ellipse"></i>
</button>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="notifications">
    <div class="header">
      <div class="title">Notification</div>
      <div class="control">
        <button (click)="closeList()" class="icon-close-window"></button>
      </div>
    </div>
    <div class="empty-list" *ngIf="!notifications.length">Notification empty</div>
    <ul 
      *ngIf="notifications.length"
      nz-menu class="notifications-list"
    >
      <li 
        class="change-name" 
        nz-menu-item 
        *ngFor="let notify of notifications"
      >
        {{notify | json}}
      </li>
    </ul>
  </div>
</nz-dropdown-menu>