@font-face {font-family: "icon";
  src: url('icon.eot?t=1614945212207'); /* IE9*/
  src: url('icon.eot?t=1614945212207#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1614945212207") format("woff2"),
  url("icon.woff?t=1614945212207") format("woff"),
  url('icon.ttf?t=1614945212207') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1614945212207#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-image:before { content: "\ea01"; }
.icon-add-list:before { content: "\ea02"; }
.icon-add:before { content: "\ea03"; }
.icon-align-center:before { content: "\ea04"; }
.icon-align-left:before { content: "\ea05"; }
.icon-align-right:before { content: "\ea06"; }
.icon-arrow-down-general:before { content: "\ea07"; }
.icon-arrow-down:before { content: "\ea08"; }
.icon-arrow-left-general:before { content: "\ea09"; }
.icon-arrow-left:before { content: "\ea0a"; }
.icon-arrow-right-general:before { content: "\ea0b"; }
.icon-arrow-right:before { content: "\ea0c"; }
.icon-arrow-up-general:before { content: "\ea0d"; }
.icon-arrow-up:before { content: "\ea0e"; }
.icon-attach-window:before { content: "\ea0f"; }
.icon-attach:before { content: "\ea10"; }
.icon-bar-bars:before { content: "\ea11"; }
.icon-bar-candles-volume:before { content: "\ea12"; }
.icon-bar-candles:before { content: "\ea13"; }
.icon-bar-coloured-bars:before { content: "\ea14"; }
.icon-bar-equi-volume-shadow:before { content: "\ea15"; }
.icon-bar-equi-volume:before { content: "\ea16"; }
.icon-bar-heikin-ashi:before { content: "\ea17"; }
.icon-bar-hollow-candles:before { content: "\ea18"; }
.icon-bar-kagi:before { content: "\ea19"; }
.icon-bar-line-break:before { content: "\ea1a"; }
.icon-bar-line:before { content: "\ea1b"; }
.icon-bar-mountains:before { content: "\ea1c"; }
.icon-bar-point-and-figure:before { content: "\ea1d"; }
.icon-bar-renko:before { content: "\ea1e"; }
.icon-chart-market:before { content: "\ea1f"; }
.icon-close-window:before { content: "\ea20"; }
.icon-cursor-arrow-crosshairs:before { content: "\ea21"; }
.icon-cursor-arrow-dot:before { content: "\ea22"; }
.icon-cursor-arrow-with-markers:before { content: "\ea23"; }
.icon-cursor-arrow:before { content: "\ea24"; }
.icon-datafeed-connected:before { content: "\ea25"; }
.icon-delete:before { content: "\ea26"; }
.icon-deltaview:before { content: "\ea27"; }
.icon-detach-window:before { content: "\ea28"; }
.icon-detach:before { content: "\ea29"; }
.icon-dom-bracket:before { content: "\ea2a"; }
.icon-dom-clear-all:before { content: "\ea2b"; }
.icon-dom-extended:before { content: "\ea2c"; }
.icon-dom-slim:before { content: "\ea2d"; }
.icon-dom-strategy:before { content: "\ea2e"; }
.icon-duplicate:before { content: "\ea2f"; }
.icon-edit:before { content: "\ea30"; }
.icon-ellipse:before { content: "\ea31"; }
.icon-facebook:before { content: "\ea32"; }
.icon-fibonacci:before { content: "\ea33"; }
.icon-full-screen-window:before { content: "\ea34"; }
.icon-geometric:before { content: "\ea35"; }
.icon-group:before { content: "\ea36"; }
.icon-hide:before { content: "\ea37"; }
.icon-indicator:before { content: "\ea38"; }
.icon-list:before { content: "\ea39"; }
.icon-lock:before { content: "\ea3a"; }
.icon-log-out:before { content: "\ea3b"; }
.icon-maximize-window (2):before { content: "\ea3c"; }
.icon-maximize-window:before { content: "\ea3d"; }
.icon-maximize:before { content: "\ea3e"; }
.icon-measure:before { content: "\ea3f"; }
.icon-menu-chart:before { content: "\ea40"; }
.icon-minimize-window:before { content: "\ea41"; }
.icon-minimize:before { content: "\ea42"; }
.icon-minus:before { content: "\ea43"; }
.icon-not-visible:before { content: "\ea44"; }
.icon-notication-connected:before { content: "\ea45"; }
.icon-notication-default:before { content: "\ea46"; }
.icon-notifcation-error:before { content: "\ea47"; }
.icon-notification-active:before { content: "\ea48"; }
.icon-notification:before { content: "\ea49"; }
.icon-order-reject:before { content: "\ea4a"; }
.icon-pen:before { content: "\ea4b"; }
.icon-pin:before { content: "\ea4c"; }
.icon-rename:before { content: "\ea4d"; }
.icon-replace:before { content: "\ea4e"; }
.icon-reset:before { content: "\ea4f"; }
.icon-resize:before { content: "\ea50"; }
.icon-resize_vertical:before { content: "\ea51"; }
.icon-save-image:before { content: "\ea52"; }
.icon-save:before { content: "\ea53"; }
.icon-search:before { content: "\ea54"; }
.icon-set-header:before { content: "\ea55"; }
.icon-setting-gear:before { content: "\ea56"; }
.icon-settings-points:before { content: "\ea57"; }
.icon-settings:before { content: "\ea58"; }
.icon-show:before { content: "\ea59"; }
.icon-signal:before { content: "\ea5a"; }
.icon-some-error:before { content: "\ea5b"; }
.icon-sort:before { content: "\ea5c"; }
.icon-star-o:before { content: "\ea5d"; }
.icon-star:before { content: "\ea5e"; }
.icon-stocktwits:before { content: "\ea5f"; }
.icon-text:before { content: "\ea60"; }
.icon-tool-1d:before { content: "\ea61"; }
.icon-tool-arrow:before { content: "\ea62"; }
.icon-tool-bars:before { content: "\ea63"; }
.icon-tool-brush:before { content: "\ea64"; }
.icon-tool-camera:before { content: "\ea65"; }
.icon-tool-chart-market (1):before { content: "\ea66"; }
.icon-tool-chart-market (2):before { content: "\ea67"; }
.icon-tool-chart-market (3):before { content: "\ea68"; }
.icon-tool-chart-market (4):before { content: "\ea69"; }
.icon-tool-chart-market (5):before { content: "\ea6a"; }
.icon-tool-chart-market (6):before { content: "\ea6b"; }
.icon-tool-chart-market:before { content: "\ea6c"; }
.icon-tool-circle:before { content: "\ea6d"; }
.icon-tool-delete:before { content: "\ea6e"; }
.icon-tool-drawings:before { content: "\ea6f"; }
.icon-tool-fibonacci-arcs:before { content: "\ea70"; }
.icon-tool-fibonacci:before { content: "\ea71"; }
.icon-tool-full-window:before { content: "\ea72"; }
.icon-tool-geometric:before { content: "\ea73"; }
.icon-tool-indicators:before { content: "\ea74"; }
.icon-tool-line:before { content: "\ea75"; }
.icon-tool-measure:before { content: "\ea76"; }
.icon-tool-not-visible:before { content: "\ea77"; }
.icon-tool-pen:before { content: "\ea78"; }
.icon-tool-share:before { content: "\ea79"; }
.icon-tool-text:before { content: "\ea7a"; }
.icon-tool-tools:before { content: "\ea7b"; }
.icon-tool-trand-channel:before { content: "\ea7c"; }
.icon-tool-trend-channel-drawing:before { content: "\ea7d"; }
.icon-tool-zoom-date-range:before { content: "\ea7e"; }
.icon-tool-zoom-rect:before { content: "\ea7f"; }
.icon-tool-zoom:before { content: "\ea80"; }
.icon-trend-channel-drawing:before { content: "\ea81"; }
.icon-twitter:before { content: "\ea82"; }
.icon-union:before { content: "\ea83"; }
.icon-unlock:before { content: "\ea84"; }
.icon-unpin:before { content: "\ea85"; }
.icon-user-icon:before { content: "\ea86"; }
.icon-visible:before { content: "\ea87"; }
.icon-widget-chart:before { content: "\ea88"; }
.icon-widget-create-orders:before { content: "\ea89"; }
.icon-widget-dom:before { content: "\ea8a"; }
.icon-widget-market-watch:before { content: "\ea8b"; }
.icon-widget-orders:before { content: "\ea8c"; }
.icon-widget-positions:before { content: "\ea8d"; }
.icon-widget-watchlist:before { content: "\ea8e"; }
.icon-window-left:before { content: "\ea8f"; }
.icon-window-right:before { content: "\ea90"; }

$icon-add-image: "\ea01";
$icon-add-list: "\ea02";
$icon-add: "\ea03";
$icon-align-center: "\ea04";
$icon-align-left: "\ea05";
$icon-align-right: "\ea06";
$icon-arrow-down-general: "\ea07";
$icon-arrow-down: "\ea08";
$icon-arrow-left-general: "\ea09";
$icon-arrow-left: "\ea0a";
$icon-arrow-right-general: "\ea0b";
$icon-arrow-right: "\ea0c";
$icon-arrow-up-general: "\ea0d";
$icon-arrow-up: "\ea0e";
$icon-attach-window: "\ea0f";
$icon-attach: "\ea10";
$icon-bar-bars: "\ea11";
$icon-bar-candles-volume: "\ea12";
$icon-bar-candles: "\ea13";
$icon-bar-coloured-bars: "\ea14";
$icon-bar-equi-volume-shadow: "\ea15";
$icon-bar-equi-volume: "\ea16";
$icon-bar-heikin-ashi: "\ea17";
$icon-bar-hollow-candles: "\ea18";
$icon-bar-kagi: "\ea19";
$icon-bar-line-break: "\ea1a";
$icon-bar-line: "\ea1b";
$icon-bar-mountains: "\ea1c";
$icon-bar-point-and-figure: "\ea1d";
$icon-bar-renko: "\ea1e";
$icon-chart-market: "\ea1f";
$icon-close-window: "\ea20";
$icon-cursor-arrow-crosshairs: "\ea21";
$icon-cursor-arrow-dot: "\ea22";
$icon-cursor-arrow-with-markers: "\ea23";
$icon-cursor-arrow: "\ea24";
$icon-datafeed-connected: "\ea25";
$icon-delete: "\ea26";
$icon-deltaview: "\ea27";
$icon-detach-window: "\ea28";
$icon-detach: "\ea29";
$icon-dom-bracket: "\ea2a";
$icon-dom-clear-all: "\ea2b";
$icon-dom-extended: "\ea2c";
$icon-dom-slim: "\ea2d";
$icon-dom-strategy: "\ea2e";
$icon-duplicate: "\ea2f";
$icon-edit: "\ea30";
$icon-ellipse: "\ea31";
$icon-facebook: "\ea32";
$icon-fibonacci: "\ea33";
$icon-full-screen-window: "\ea34";
$icon-geometric: "\ea35";
$icon-group: "\ea36";
$icon-hide: "\ea37";
$icon-indicator: "\ea38";
$icon-list: "\ea39";
$icon-lock: "\ea3a";
$icon-log-out: "\ea3b";
$icon-maximize-window (2): "\ea3c";
$icon-maximize-window: "\ea3d";
$icon-maximize: "\ea3e";
$icon-measure: "\ea3f";
$icon-menu-chart: "\ea40";
$icon-minimize-window: "\ea41";
$icon-minimize: "\ea42";
$icon-minus: "\ea43";
$icon-not-visible: "\ea44";
$icon-notication-connected: "\ea45";
$icon-notication-default: "\ea46";
$icon-notifcation-error: "\ea47";
$icon-notification-active: "\ea48";
$icon-notification: "\ea49";
$icon-order-reject: "\ea4a";
$icon-pen: "\ea4b";
$icon-pin: "\ea4c";
$icon-rename: "\ea4d";
$icon-replace: "\ea4e";
$icon-reset: "\ea4f";
$icon-resize: "\ea50";
$icon-resize_vertical: "\ea51";
$icon-save-image: "\ea52";
$icon-save: "\ea53";
$icon-search: "\ea54";
$icon-set-header: "\ea55";
$icon-setting-gear: "\ea56";
$icon-settings-points: "\ea57";
$icon-settings: "\ea58";
$icon-show: "\ea59";
$icon-signal: "\ea5a";
$icon-some-error: "\ea5b";
$icon-sort: "\ea5c";
$icon-star-o: "\ea5d";
$icon-star: "\ea5e";
$icon-stocktwits: "\ea5f";
$icon-text: "\ea60";
$icon-tool-1d: "\ea61";
$icon-tool-arrow: "\ea62";
$icon-tool-bars: "\ea63";
$icon-tool-brush: "\ea64";
$icon-tool-camera: "\ea65";
$icon-tool-chart-market (1): "\ea66";
$icon-tool-chart-market (2): "\ea67";
$icon-tool-chart-market (3): "\ea68";
$icon-tool-chart-market (4): "\ea69";
$icon-tool-chart-market (5): "\ea6a";
$icon-tool-chart-market (6): "\ea6b";
$icon-tool-chart-market: "\ea6c";
$icon-tool-circle: "\ea6d";
$icon-tool-delete: "\ea6e";
$icon-tool-drawings: "\ea6f";
$icon-tool-fibonacci-arcs: "\ea70";
$icon-tool-fibonacci: "\ea71";
$icon-tool-full-window: "\ea72";
$icon-tool-geometric: "\ea73";
$icon-tool-indicators: "\ea74";
$icon-tool-line: "\ea75";
$icon-tool-measure: "\ea76";
$icon-tool-not-visible: "\ea77";
$icon-tool-pen: "\ea78";
$icon-tool-share: "\ea79";
$icon-tool-text: "\ea7a";
$icon-tool-tools: "\ea7b";
$icon-tool-trand-channel: "\ea7c";
$icon-tool-trend-channel-drawing: "\ea7d";
$icon-tool-zoom-date-range: "\ea7e";
$icon-tool-zoom-rect: "\ea7f";
$icon-tool-zoom: "\ea80";
$icon-trend-channel-drawing: "\ea81";
$icon-twitter: "\ea82";
$icon-union: "\ea83";
$icon-unlock: "\ea84";
$icon-unpin: "\ea85";
$icon-user-icon: "\ea86";
$icon-visible: "\ea87";
$icon-widget-chart: "\ea88";
$icon-widget-create-orders: "\ea89";
$icon-widget-dom: "\ea8a";
$icon-widget-market-watch: "\ea8b";
$icon-widget-orders: "\ea8c";
$icon-widget-positions: "\ea8d";
$icon-widget-watchlist: "\ea8e";
$icon-window-left: "\ea8f";
$icon-window-right: "\ea90";

