<window-header [window]="this">
        <span class="d-flex ml-auto tooltip-switcher align-items-center">
      <nz-switch class="d-flex" nzSize="small" [(ngModel)]="showTooltips"></nz-switch>
      <span class="show-hover-info">Show info on hover</span>
        </span>
</window-header>
<div class="indicator-container">
  <cdk-virtual-scroll-viewport itemSize="">
    <div class="indicator-inner-container">
      <ng-container *ngFor="let item of chartIndicators">
        <div nz-tooltip [nzTooltipTitle]="showTooltips && description"
            nzPlacement="rightTop"
            [nzTooltipOverlayClassName]="'indicator-tooltip'"
            (click)="addIndicator(item)" class="chart-indicator"
            (mouseenter)="fetchDescription(item)">
          <span class="indicator-name">{{item}}</span>
          <i class="icon-add"></i>
        </div>
        <ng-template #description>
          <ng-container *ngFor="let section of indicatorsDescriptions[item]">
            <ng-container *ngIf="section.content.length">
              <h5>{{ section.title }}</h5>
              <p *ngFor="let paragraph of section.content">{{ paragraph }}</p>
            </ng-container>
          </ng-container>
        </ng-template>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
