<div
  nz-dropdown
  nzTrigger="click"
  [nzClickHide]="false"
  [nzDropdownMenu]="menu"
>
  <div *ngIf="time; else block">{{ time | date: "HH:mm:ss" }}</div>
  <ng-template #block><span>--:--:--</span></ng-template>
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu class="clock">
    <li
      class="clock-local clock-item"
      nz-menu-item
    >
      <div class="title">
        <label nz-checkbox>Local</label>
      </div>
      <div class="subtitle">Vilnius, Helsinki, Kyiv, Riga, Sofia, Tallinn</div>
    </li>
    <li
      nz-menu-item
      class="clock-utc clock-item"
    >
      <div class="title">
        <label nz-checkbox>UTC+3:00</label>
      </div>
      <div class="subtitle">Minsk</div>
    </li>
    <li
      nz-menu-item
      class="clock-modal"
    >
      <button (click)="openModal">Add timezone</button>
    </li>
  </ul>
</nz-dropdown-menu>
