@import "../base-timezones";

:host {
  height: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  background: $light;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: $inputBackground;
  }
}

.clock-container {
  transition: all 0.3s;

  :hover {
    color: white;
  }
}

.clock {
  max-width: 170px;
}

.clock-item {
  margin-bottom: 12px;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #51535A;
}
