@import "../../../../scss/dark.theme";
@import "../themes/index";

.clock {
  padding: 12px 16px;
  max-width: 170px;
  background-color: $tabFrameColor !important;

  li {
    padding: 0;
    background-color: $tabFrameColor !important;
  }

  .icons-container {
    float: right;

    i {
      font-size: 8px;
      line-height: 1;

      &:hover {
        color: $primary;
      }

      &:not(:first-child) {
        margin-left: 6px;
      }
    }
  }

  .clock-item {
    border-bottom: 1px solid #51535A;
    margin-bottom: 12px;
  }

  .title {
    line-height: 16px;

    label {
      font-size: 0.8rem;

      font-weight: 600;
      color: $titleColor;
    }
  }

  .subtitle {
    white-space: normal;
    max-width: 100%;
    margin: 2px 0 10px 0;
    font-size: 0.7rem;
    line-height: 14px;
    color: $textColor;
  }

  button {
    color: $textColor;
    background-color: $bodyBackground !important;
    border: 1px solid $risingColor;
    border-radius: 2px;
    width: 100%;
    min-width: 135px;
  }
}

