@font-face {
  font-family: "icon";
  src: url('icon.eot?t=1602509160030'); /* IE9*/
  src: url('icon.eot?t=1602509160030#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1602509160030") format("woff2"),
  url("icon.woff?t=1602509160030") format("woff"),
  url('icon.ttf?t=1602509160030') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1602509160030#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-arrow-down:before { content: "\ea01"; }
.icon-arrow-dropdown:before { content: "\ea02"; }
.icon-arrow-left:before { content: "\ea03"; }
.icon-arrow-right:before { content: "\ea04"; }
.icon-arrow-up:before { content: "\ea05"; }
.icon-bars:before { content: "\ea06"; }
.icon-brush:before { content: "\ea07"; }
.icon-camera:before { content: "\ea08"; }
.icon-chart:before { content: "\ea09"; }
.icon-circle:before { content: "\ea0a"; }
.icon-close:before { content: "\ea0b"; }
.icon-close_icon:before { content: "\ea0c"; }
.icon-delete:before { content: "\ea0d"; }
.icon-folder:before { content: "\ea0e"; }
.icon-full-screen:before { content: "\ea0f"; }
.icon-full-window:before { content: "\ea10"; }
.icon-line:before { content: "\ea11"; }
.icon-list:before { content: "\ea12"; }
.icon-logo:before { content: "\ea13"; }
.icon-maximaze:before { content: "\ea14"; }
.icon-mouse:before { content: "\ea15"; }
.icon-orders:before { content: "\ea16"; }
.icon-pen:before { content: "\ea17"; }
.icon-popup:before { content: "\ea18"; }
.icon-position:before { content: "\ea19"; }
.icon-resize:before { content: "\ea1a"; }
.icon-resize_vertical:before { content: "\ea1b"; }
.icon-scripting:before { content: "\ea1c"; }
.icon-text:before { content: "\ea1d"; }
.icon-watch:before { content: "\ea1e"; }
.icon-zoom:before { content: "\ea1f"; }
