@font-face {
  font-family: 'icon';
  src:  url('icomoon.eot?56lxue');
  src:  url('icomoon.eot?56lxue#iefix') format('embedded-opentype'),
    url('icomoon.ttf?56lxue') format('truetype'),
    url('icomoon.woff?56lxue') format('woff'),
    url('icomoon.svg?56lxue#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 16px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-datafeed-connected .path1:before {
  content: "\e920";
  color: rgb(0, 153, 80);
}
.icon-datafeed-connected .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 153, 80);
}
.icon-datafeed-connected .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 153, 80);
}
.icon-datafeed-connected .path4:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 153, 80);
}
.icon-datafeed-connected .path5:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 153, 80);
  opacity: 0.2;
}
.icon-datafeed-disconnected .path1:before {
  content: "\e925";
  color: rgb(201, 59, 59);
}
.icon-datafeed-disconnected .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-datafeed-disconnected .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-datafeed-disconnected .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-datafeed-disconnected .path5:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(201, 59, 59);
  opacity: 0.2;
}
.icon-order-reject .path1:before {
  content: "\e92a";
  color: rgb(201, 59, 59);
  opacity: 0.2;
}
.icon-order-reject .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-order-reject .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-order-reject .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-order-reject .path5:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-some-error .path1:before {
  content: "\e92f";
  color: rgb(201, 59, 59);
  opacity: 0.2;
}
.icon-some-error .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-some-error .path3:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-some-error .path4:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-signal:before {
  content: "\e980";
  color: #a1a2a5;
}
.icon-add:before {
  content: "\e900";
}
.icon-add-list:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-down-general:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-left-general:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-right-general:before {
  content: "\e907";
}
.icon-arrow-up:before {
  content: "\e908";
}
.icon-arrow-up-general:before {
  content: "\e909";
}
.icon-attach:before {
  content: "\e90a";
}
.icon-attach-window:before {
  content: "\e90b";
}
.icon-bar-bars:before {
  content: "\e90c";
}
.icon-bar-candles:before {
  content: "\e90d";
}
.icon-bar-candles-volume:before {
  content: "\e90e";
}
.icon-bar-coloured-bars .path1:before {
  content: "\e90f";
  color: rgb(201, 59, 59);
}
.icon-bar-coloured-bars .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(72, 149, 245);
}
.icon-bar-equi-volume:before {
  content: "\e911";
}
.icon-bar-equi-volume-shadow:before {
  content: "\e912";
}
.icon-bar-heikin-ashi:before {
  content: "\e913";
}
.icon-bar-hollow-candles:before {
  content: "\e914";
}
.icon-bar-kagi:before {
  content: "\e915";
}
.icon-bar-line:before {
  content: "\e916";
}
.icon-bar-line-break:before {
  content: "\e917";
}
.icon-bar-mountains:before {
  content: "\e918";
}
.icon-bar-point-and-figure:before {
  content: "\e919";
}
.icon-bar-renko:before {
  content: "\e91a";
}
.icon-close-window:before {
  content: "\e91b";
}
.icon-cursor-arrow:before {
  content: "\e91c";
}
.icon-cursor-arrow-crosshairs:before {
  content: "\e91d";
}
.icon-cursor-arrow-dot:before {
  content: "\e91e";
}
.icon-cursor-arrow-with-markers:before {
  content: "\e91f";
}
.icon-detach:before {
  content: "\e931";
}
.icon-detach-window:before {
  content: "\e932";
}
.icon-edit:before {
  content: "\e933";
}
.icon-ellipse:before {
  content: "\e934";
  color: #c93b3b;
}
.icon-facebook:before {
  content: "\e935";
}
.icon-full-screen-window:before {
  content: "\e936";
}
.icon-hide:before {
  content: "\e937";
}
.icon-indicator .path1:before {
  content: "\e938";
  color: rgb(232, 80, 80);
  opacity: 0.3;
}
.icon-indicator .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(201, 59, 59);
}
.icon-list:before {
  content: "\e93a";
}
.icon-lock:before {
  content: "\e93b";
}
.icon-log-out:before {
  content: "\e93c";
}
.icon-maximize:before {
  content: "\e93d";
}
.icon-maximize-window:before {
  content: "\e93e";
}
.icon-maximize-window-2:before {
  content: "\e93f";
}
.icon-menu-chart:before {
  content: "\e940";
}
.icon-minimize:before {
  content: "\e941";
}
.icon-minimize-window:before {
  content: "\e942";
}
.icon-minus:before {
  content: "\e943";
}
.icon-notification:before {
  content: "\e944";
}
.icon-notification-active:before {
  content: "\e945";
}
.icon-rename:before {
  content: "\e946";
}
.icon-replace:before {
  content: "\e947";
}
.icon-resize:before {
  content: "\e948";
  color: #5b5c61;
}
.icon-resize_vertical:before {
  content: "\e949";
  color: #5b5c61;
}
.icon-save-image:before {
  content: "\e94a";
}
.icon-search:before {
  content: "\e94b";
}
.icon-set-header:before {
  content: "\e94c";
}
.icon-setting-gear:before {
  content: "\e94d";
}
.icon-settings:before {
  content: "\e94e";
}
.icon-settings-points:before {
  content: "\e94f";
}
.icon-show:before {
  content: "\e950";
}
.icon-sort:before {
  content: "\e951";
}
.icon-star:before {
  content: "\e952";
  color: #4895f5;
}
.icon-star-o:before {
  content: "\e953";
  color: #737377;
}
.icon-stocktwits .path1:before {
  content: "\e954";
  color: rgb(255, 255, 255);
}
.icon-stocktwits .path2:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(33, 141, 255);
}
.icon-tool-1d:before {
  content: "\e956";
}
.icon-tool-arrow:before {
  content: "\e957";
}
.icon-tool-bars:before {
  content: "\e958";
}
.icon-tool-brush:before {
  content: "\e959";
}
.icon-tool-camera:before {
  content: "\e95a";
}
.icon-tool-chart-market:before {
  content: "\e95b";
}
.icon-tool-chart-market-1:before {
  content: "\e95c";
}
.icon-tool-chart-market-2:before {
  content: "\e95d";
}
.icon-tool-chart-market-3:before {
  content: "\e95e";
}
.icon-tool-chart-market-4:before {
  content: "\e95f";
}
.icon-tool-chart-market-5:before {
  content: "\e960";
}
.icon-tool-chart-market-6:before {
  content: "\e961";
}
.icon-tool-circle:before {
  content: "\e962";
}
.icon-tool-delete:before {
  content: "\e963";
}
.icon-tool-drawings:before {
  content: "\e964";
}
.icon-tool-fibonacci:before {
  content: "\e965";
}
.icon-tool-fibonacci-arcs:before {
  content: "\e966";
}
.icon-tool-full-window:before {
  content: "\e967";
}
.icon-tool-geometric:before {
  content: "\e968";
}
.icon-tool-indicators:before {
  content: "\e969";
}
.icon-tool-line:before {
  content: "\e96a";
}
.icon-tool-measure:before {
  content: "\e96b";
}
.icon-tool-not-visible:before {
  content: "\e96c";
}
.icon-tool-pen:before {
  content: "\e96d";
}
.icon-tool-share:before {
  content: "\e96e";
}
.icon-tool-text:before {
  content: "\e96f";
}
.icon-tool-tools:before {
  content: "\e970";
}
.icon-tool-trand-channel:before {
  content: "\e971";
}
.icon-tool-trend-channel-drawing:before {
  content: "\e972";
}
.icon-tool-zoom:before {
  content: "\e973";
}
.icon-tool-zoom-date-range:before {
  content: "\e974";
}
.icon-tool-zoom-rect:before {
  content: "\e975";
}
.icon-twitter:before {
  content: "\e976";
}
.icon-unlock:before {
  content: "\e977";
}
.icon-user-icon:before {
  content: "\e978";
}
.icon-widget-chart:before {
  content: "\e979";
}
.icon-widget-create-orders:before {
  content: "\e97a";
  color: #fff;
}
.icon-widget-market-watch:before {
  content: "\e97c";
}
.icon-widget-orders:before {
  content: "\e97d";
}
.icon-widget-positions:before {
  content: "\e97e";
}
.icon-widget-watchlist:before {
  content: "\e97f";
}
.icon-widget-dom:before {
  content: "\e97b";
}