@font-face {
  font-family: "icon";
  src: url('icon.eot?t=1607690435456'); /* IE9*/
  src: url('icon.eot?t=1607690435456#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1607690435456") format("woff2"),
  url("icon.woff?t=1607690435456") format("woff"),
  url('icon.ttf?t=1607690435456') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1607690435456#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-add-image:before { content: "\ea01"; }
.icon-add-list:before { content: "\ea02"; }
.icon-add:before { content: "\ea03"; }
.icon-align-center:before { content: "\ea04"; }
.icon-arrow-down-general:before { content: "\ea05"; }
.icon-arrow-down:before { content: "\ea06"; }
.icon-arrow-left-general:before { content: "\ea07"; }
.icon-arrow-left:before { content: "\ea08"; }
.icon-arrow-right-general:before { content: "\ea09"; }
.icon-arrow-right:before { content: "\ea0a"; }
.icon-arrow-up-general:before { content: "\ea0b"; }
.icon-arrow-up:before { content: "\ea0c"; }
.icon-attach-window:before { content: "\ea0d"; }
.icon-attach:before { content: "\ea0e"; }
.icon-bar-bars:before { content: "\ea0f"; }
.icon-bar-candles-volume:before { content: "\ea10"; }
.icon-bar-candles:before { content: "\ea11"; }
.icon-bar-coloured-bars:before { content: "\ea12"; }
.icon-bar-equi-volume-shadow:before { content: "\ea13"; }
.icon-bar-equi-volume:before { content: "\ea14"; }
.icon-bar-heikin-ashi:before { content: "\ea15"; }
.icon-bar-hollow-candles:before { content: "\ea16"; }
.icon-bar-kagi:before { content: "\ea17"; }
.icon-bar-line-break:before { content: "\ea18"; }
.icon-bar-line:before { content: "\ea19"; }
.icon-bar-mountains:before { content: "\ea1a"; }
.icon-bar-point-and-figure:before { content: "\ea1b"; }
.icon-bar-renko:before { content: "\ea1c"; }
.icon-chart-market:before { content: "\ea1d"; }
.icon-close-window:before { content: "\ea1e"; }
.icon-cursor-arrow-crosshairs:before { content: "\ea1f"; }
.icon-cursor-arrow-dot:before { content: "\ea20"; }
.icon-cursor-arrow-with-markers:before { content: "\ea21"; }
.icon-cursor-arrow:before { content: "\ea22"; }
.icon-datafeed-connected:before { content: "\ea23"; }
.icon-delete:before { content: "\ea24"; }
.icon-deltaview:before { content: "\ea25"; }
.icon-detach-window:before { content: "\ea26"; }
.icon-detach:before { content: "\ea27"; }
.icon-edit:before { content: "\ea28"; }
.icon-ellipse:before { content: "\ea29"; }
.icon-facebook:before { content: "\ea2a"; }
.icon-fibonacci:before { content: "\ea2b"; }
.icon-full-screen-window:before { content: "\ea2c"; }
.icon-geometric:before { content: "\ea2d"; }
.icon-hide:before { content: "\ea2e"; }
.icon-indicator:before { content: "\ea2f"; }
.icon-list:before { content: "\ea30"; }
.icon-lock:before { content: "\ea31"; }
.icon-log-out:before { content: "\ea32"; }
.icon-maximize-window (2):before { content: "\ea33"; }
.icon-maximize-window:before { content: "\ea34"; }
.icon-maximize:before { content: "\ea35"; }
.icon-measure:before { content: "\ea36"; }
.icon-menu-chart:before { content: "\ea37"; }
.icon-minimize-window:before { content: "\ea38"; }
.icon-minimize:before { content: "\ea39"; }
.icon-minus:before { content: "\ea3a"; }
.icon-not-visible:before { content: "\ea3b"; }
.icon-notification-active:before { content: "\ea3c"; }
.icon-notification:before { content: "\ea3d"; }
.icon-order-reject:before { content: "\ea3e"; }
.icon-pen:before { content: "\ea3f"; }
.icon-rename:before { content: "\ea40"; }
.icon-replace:before { content: "\ea41"; }
.icon-resize:before { content: "\ea42"; }
.icon-resize_vertical:before { content: "\ea43"; }
.icon-save-image:before { content: "\ea44"; }
.icon-search:before { content: "\ea45"; }
.icon-set-header:before { content: "\ea46"; }
.icon-setting-gear:before { content: "\ea47"; }
.icon-settings-points:before { content: "\ea48"; }
.icon-settings:before { content: "\ea49"; }
.icon-show:before { content: "\ea4a"; }
.icon-signal:before { content: "\ea4b"; }
.icon-some-error:before { content: "\ea4c"; }
.icon-sort:before { content: "\ea4d"; }
.icon-star-o:before { content: "\ea4e"; }
.icon-star:before { content: "\ea4f"; }
.icon-stocktwits:before { content: "\ea50"; }
.icon-text:before { content: "\ea51"; }
.icon-tool-1d:before { content: "\ea52"; }
.icon-tool-arrow:before { content: "\ea53"; }
.icon-tool-bars:before { content: "\ea54"; }
.icon-tool-brush:before { content: "\ea55"; }
.icon-tool-camera:before { content: "\ea56"; }
.icon-tool-chart-market (1):before { content: "\ea57"; }
.icon-tool-chart-market (2):before { content: "\ea58"; }
.icon-tool-chart-market (3):before { content: "\ea59"; }
.icon-tool-chart-market (4):before { content: "\ea5a"; }
.icon-tool-chart-market (5):before { content: "\ea5b"; }
.icon-tool-chart-market (6):before { content: "\ea5c"; }
.icon-tool-chart-market:before { content: "\ea5d"; }
.icon-tool-circle:before { content: "\ea5e"; }
.icon-tool-delete:before { content: "\ea5f"; }
.icon-tool-drawings:before { content: "\ea60"; }
.icon-tool-fibonacci-arcs:before { content: "\ea61"; }
.icon-tool-fibonacci:before { content: "\ea62"; }
.icon-tool-full-window:before { content: "\ea63"; }
.icon-tool-geometric:before { content: "\ea64"; }
.icon-tool-indicators:before { content: "\ea65"; }
.icon-tool-line:before { content: "\ea66"; }
.icon-tool-measure:before { content: "\ea67"; }
.icon-tool-not-visible:before { content: "\ea68"; }
.icon-tool-pen:before { content: "\ea69"; }
.icon-tool-share:before { content: "\ea6a"; }
.icon-tool-text:before { content: "\ea6b"; }
.icon-tool-tools:before { content: "\ea6c"; }
.icon-tool-trand-channel:before { content: "\ea6d"; }
.icon-tool-trend-channel-drawing:before { content: "\ea6e"; }
.icon-tool-zoom-date-range:before { content: "\ea6f"; }
.icon-tool-zoom-rect:before { content: "\ea70"; }
.icon-tool-zoom:before { content: "\ea71"; }
.icon-trend-channel-drawing:before { content: "\ea72"; }
.icon-twitter:before { content: "\ea73"; }
.icon-unlock:before { content: "\ea74"; }
.icon-user-icon:before { content: "\ea75"; }
.icon-visible:before { content: "\ea76"; }
.icon-widget-chart:before { content: "\ea77"; }
.icon-widget-create-orders:before { content: "\ea78"; }
.icon-widget-dom:before { content: "\ea79"; }
.icon-widget-market-watch:before { content: "\ea7a"; }
.icon-widget-orders:before { content: "\ea7b"; }
.icon-widget-positions:before { content: "\ea7c"; }
.icon-widget-watchlist:before { content: "\ea7d"; }
