
body.#{$themeName} {

  :host {
    background-color: $tabFrameColor;

   ::ng-deep data-grid {
      background: $gridBackground;
    }

    .tabs {
      .tab {
        color: $textColorSecondary;

        &.active {
          background: $bodyBackground;
          color: $textColor;
        }
      }
    }
  }

}
