.scx-icon {
  font-family: scx-icons !important;
  font-size: 12px;
}



.icon-candleVolume:before {
  content: "\E002";
}

.icon-collapse:before {
  content: "\E003";
}

.icon-compare-instruments:before {
  content: "\E004";
}

.icon-continuous-drawing:before {
  content: "\E005";
}

.icon-markers:before {
  content: "\E006";
}

.icon-none:before {
  content: "\E007";
}

.icon-crossBars:before {
  content: "\E008";
}

.icon-dot:before {
  content: "\E009";
}

.icon-delete-drawings:before {
  content: "\E00A";
}

.icon-delete-indicators:before {
  content: "\E00B";
}

.icon-down:before {
  content: "\E00C";
}

.icon-drawing-andrews-pitchfork:before {
  content: "\E00D";
}

.icon-drawing-arrow-down:before {
  content: "\E00E";
}

.icon-drawing-arrow-left:before {
  content: "\E00F";
}

.icon-drawing-arrow-right:before {
  content: "\E010";
}

.icon-drawing-arrow-up:before {
  content: "\E011";
}

.icon-drawing-arrow-with-markers:before {
  content: "\E012";
}

.icon-drawing-arrow:before {
  content: "\E013";
}

.icon-drawing-balloon:before {
  content: "\E014";
}

.icon-drawing-circle:before {
  content: "\E015";
}

.icon-drawing-cyclic-lines:before {
  content: "\E016";
}

.icon-drawing-diamond:before {
  content: "\E017";
}

.icon-drawing-dot:before {
  content: "\E018";
}

.icon-drawing-ellipse:before {
  content: "\E019";
}

.icon-drawing-error-channel:before {
  content: "\E01A";
}

.icon-drawing-fibonacci-arcs:before {
  content: "\E01B";
}

.icon-drawing-fibonacci-ellipses:before {
  content: "\E01C";
}

.icon-drawing-fibonacci-extensions:before {
  content: "\E01D";
}

.icon-drawing-fibonacci-fan:before {
  content: "\E01E";
}

.icon-drawing-fibonacci-retracements:before {
  content: "\E01F";
}

.icon-drawing-fibonacci-time-zones:before {
  content: "\E020";
}

.icon-drawing-free-hand:before {
  content: "\E021";
}

.icon-drawing-gann-fan:before {
  content: "\E022";
}

.icon-drawing-horizontal-line:before {
  content: "\E023";
}

.icon-drawing-image:before {
  content: "\E024";
}

.icon-drawing-line-segment:before {
  content: "\E025";
}

.icon-drawing-measure:before {
  content: "\E026";
}

.icon-drawing-note:before {
  content: "\E027";
}

.icon-drawing-polygon:before {
  content: "\E028";
}

.icon-drawing-polyline:before {
  content: "\E029";
}

.icon-drawing-quadrant-lines:before {
  content: "\E02A";
}

.icon-drawing-raff-regression:before {
  content: "\E02B";
}

.icon-drawing-fibonacci-rectangle:before {
  content: "\E02C";
}

.icon-drawing-speed-lines:before {
  content: "\E02D";
}

.icon-drawing-square:before {
  content: "\E02E";
}

.icon-drawing-text:before {
  content: "\E02F";
}

.icon-drawing-tirone-levels:before {
  content: "\E030";
}

.icon-drawing-trend-angle:before {
  content: "\E031";
}

.icon-drawing-trend-channel:before {
  content: "\E032";
}

.icon-drawing-triangle:before {
  content: "\E033";
}

.icon-drawing-vertical-line:before {
  content: "\E034";
}

.icon-drawing_candle-volume:before {
  content: "\E035";
}

.icon-drawing_candle:before {
  content: "\E036";
}

.icon-drawing_compare-instruments-v2:before {
  content: "\E037";
}

.icon-drawing_compare-instruments:before {
  content: "\E038";
}

.icon-drawing_cursor:before {
  content: "\E039";
}

.icon-drawing_download:before {
  content: "\E03A";
}

.icon-drawing_equivolume-shadow:before {
  content: "\E03B";
}

.icon-drawing_equivolume:before {
  content: "\E03C";
}

.icon-drawing_expansion:before {
  content: "\E03D";
}

.icon-drawing_renewal-v2:before {
  content: "\E03E";
}

.icon-drawing_renewal:before {
  content: "\E03F";
}

.icon-equiVolumeShadow:before {
  content: "\E040";
}

.icon-equiVolume:before {
  content: "\E041";
}

.icon-full-screen:before {
  content: "\E042";
}

.icon-full-window:before {
  content: "\E043";
}

.icon-indicators:before {
  content: "\E044";
}

.icon-move-down:before {
  content: "\E049";
}

.icon-bar:before {
  content: "\E04B";
}

.icon-candle:before {
  content: "\E04C";
}

.icon-coloredbar-1:before {
  content: "\E04D";
}

.icon-coloredbar-2:before {
  content: "\E04E";
}

.icon-heikinAshi:before {
  content: "\E04F";
}

.icon-hollowCandle:before {
  content: "\E050";
}

.icon-kagi:before {
  content: "\E051";
}

.icon-line:before {
  content: "\E052";
}

.icon-lineBreak:before {
  content: "\E053";
}

.icon-mountain:before {
  content: "\E054";
}

.icon-pointAndFigure:before {
  content: "\E055";
}

.icon-renko:before {
  content: "\E056";
}


.icon-renewal-v2:before {
  content: "\E059";
}

.icon-restore-panel:before {
  content: "\E05A";
}

.icon-right:before {
  content: "\E05B";
}

.icon-scroll-end:before {
  content: "\E05C";
}

.icon-scroll-left:before {
  content: "\E05D";
}

.icon-scroll-right:before {
  content: "\E05E";
}

.icon-scroll-start:before {
  content: "\E05F";
}

.icon-search:before {
  content: "\E060";
}

.icon-setting:before {
  content: "\E061";
}

.icon-show-drawings:before {
  content: "\E062";
}

.icon-snapshot:before {
  content: "\E063";
}

.icon-strategy:before {
  content: "\E064";
}

.icon-theme:before {
  content: "\E065";
}

.icon-toolbar_drawing-tools:before {
  content: "\E066";
}

.icon-toolbar_fibonacci:before {
  content: "\E067";
}

.icon-toolbar_general:before {
  content: "\E068";
}

.icon-toolbar_geometric:before {
  content: "\E069";
}

.icon-toolbar_marker:before {
  content: "\E06A";
}

.icon-toolbar_trend-channel:before {
  content: "\E06B";
}

.icon-up:before {
  content: "\E06C";
}

.icon-zoom-dateRange:before {
  content: "\E06D";
}

.icon-zoom-in:before {
  content: "\E06E";
}

.icon-zoom-out:before {
  content: "\E06F";
}

.icon-zoom-rect:before {
  content: "\E070";
}
