<button nz-dropdown (nzVisibleChange)="handleDropdownToggle($event)"
        [class.opened]="opened"
        class=add-container nzTrigger="click" [nzDropdownMenu]="menu">
  <i title="Add Widget" class="icon-add"></i>
</button>
<nz-dropdown-menu  #menu="nzDropdownMenu">
  <ul nz-menu class="side-navigation">
    <li
      nz-menu-item
      *ngFor="let item of items"
      (click)="create(item)"
      [title]="item.name"
      class="side-navigation__item"
    >
      <i class="{{item.icon}}"></i>

      <span>{{item.name}}</span>
    </li>

    <li nz-menu-divider class="divider"></li>

    <li
      nz-menu-item
      *ngFor="let item of bottomItems"
      (click)="create(item)"
      [title]="item.name"
      class="side-navigation__item"
    >
      <i class="{{item.icon}}"></i>

      <span>{{item.name}}</span>
    </li>
  </ul>
</nz-dropdown-menu>
