@import "themes/index";

.side-navigation {
  position: absolute;
  z-index: 41;
  height: 100%;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);

  &--open {
    transform: translateX(0%);
    z-index: 1100;
  }
}

.side-navigation {

  &__item {
    width: $navbarHeight;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
    transition: all 0.3s;
    padding-bottom: 10px;

    i[class^='icon-'] {
      margin-bottom: 8px;
      display: block;
      line-height: 1;
      font-size: 22px;
    }

  }
}
