@import "../../../../scss/dark.theme";
@import "../themes/index";

:host {
  margin: 0 16px;
  flex-grow: 1;
  background-color: transparent !important;

  .frames-manager {
    display: flex;


    & > .frame {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;
      border-radius: 2px;
      min-width: 28px;
      height: 28px;
      background-color: $tabBackground;
      position: relative;
      cursor: pointer;
      transition: all 0.3s;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid #4895F5;

        color: white;
      }

      & i {
        line-height: 28px;
        margin: 0 6px;
        font-size: 16px;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
        }
      }

      & a {
        background-color: transparent;
        color: $textColor;
        display: block;
        width: 12px;
        line-height: 28px;
        font-size: 6px;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
        }
      }
    }
  }
}

.window-count {
  font-weight: 600;
  background: #24262C;
  border-radius: 1px;
  font-size: 0.8rem;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.9rem;
  width: 0.9rem;
  line-height: 1.1rem;
  color: $primary;
  text-align: center;
}

.windows-list {
  position: absolute;
  right: 0;
  width: 40px;
  padding: 4px 0 0 0;
  border-radius: 2px;
  z-index: 41;
  transition: transform 0.3s ease-out;
  background-color: $lightBackground !important;
}

.windows-list {

  &__item {
    width: 32px;
    height: 32px;
    margin: 0 auto 4px;
    padding: 0;
    display: list-item;
    font-size: 10px;
    text-align: center;
    line-height: 32px;
    border-radius: 2px;
    background-color: $tabFrameColor !important;

    &:hover {
      color: $titleColor !important;
      background-color: $bodyBackground !important;
    }
  }
}
