@import "../../../../scss/dark.theme";
@import "../themes/index";
@import "../base-workspace";

.workspaces {
  background-color: $tabFrameColor;
  border-radius: 2px;
  border: 1px solid #383A40;
  padding: 4px;

  .ant-radio-group {
    width: 100%;
  }
}

::ng-deep {
  .modal-workspace {
    .ant-modal .ant-modal-content .ant-modal-header .ant-modal-title {
      font-weight: 600;
      font-size: 0.8rem;
      color: white;

    }

    .ant-modal .ant-modal-content .ant-modal-body {
      color: white;
      font-weight: 600;
      font-size: 0.9rem;
      line-height: 1.2rem;
      padding: 24px;
    }

    .ant-btn {
      font-size: 0.7rem;
    }
  }
}

.divider {
  margin: 0;
}

.active {
  color: white;
}

.icon-union {
  font-size: 15px;
}

.workspaces-list {
  list-style-type: none;
  margin: 0;
  padding: 4px;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.create-btn {
  margin: 10px 10px 6px;
}
