<div class="alert">
  <nz-alert *ngIf="errMessage" nzType="error" nzMessage="Error" [nzDescription]="errMessage" nzShowIcon></nz-alert>
</div>
<div class="wrapper">

  <h3>Rithmic</h3>

  <form [formGroup]="form">
    <div class="input-wrapper">
      <div>
        <label for="login">Login</label>
        <input formControlName="login" type="text" id="login" nz-input />
      </div>
      <div>
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" nz-input />
      </div>
    </div>

    <!-- <div class="input-wrapper">
      <input formControlName="login" nz-input placeholder="Login" />
      <input formControlName="server" nz-input placeholder="Server" />
    </div>
    <div class="input-wrapper">
      <div>
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" nz-input placeholder="Password" />
      </div>

      <div>
        <label for="broker">Broker</label>
        <nz-select formControlName="broker" [nzShowArrow]="false" nzDropdownClassName="toolbar-dropdown" id="broker">
          <nz-option nzValue="MT4" nzLabel="Mt4"></nz-option>
          <nz-option nzValue="MT5" nzLabel="Mt5"></nz-option>
        </nz-select>
      </div>
    </div>
    <div class="confirm-wrapper">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" formControlName="repeatPassword" id="confirmPassword" nz-input
        placeholder="Confirm Password" />
    </div> -->

    <div class="input-wrapper">
      <button (click)="handleCancel()" class="cancel">Cancel</button>
      <button nz-button (click)="handleSubmit()" nzType="primary" class="create" nzSize="large" [nzLoading]="isLoading" nzBlock>
        Connect
      </button>
    </div>
  </form>
</div>