@import "scss/variables";

@import "~bootstrap/scss/bootstrap-grid.scss";

@import "~ng-zorro-antd/style/index.min.css";
@import "assets/font/icon.css";

@import "scss/utilities";
@import "scss/colors";
@import "scss/fonts";
@import "scss/animations";
@import "scss/modules";

@import "scss/dark.theme";
@import "scss/template";

@import "scss/light.theme";
@import "scss/template";

body,
html {
  font-weight: 400;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.ant-modal-content {
  background: none;
}

.ant-input {
  border-radius: 0;
}

.ant-modal-body {
  background: none;
  box-shadow: none;
  padding: 0 !important;
}

button {
  outline: none;
  box-shadow: none;
  border: none;
}

.ant-modal {
  width: auto !important;
  display: flex;
  justify-content: center;
}

.ant-modal-content {
  box-shadow: none !important;
}

.toolbar-dropdown {
  .ant-dropdown-menu-item-divider,
  .ant-dropdown-menu-submenu-title-divider {
    margin: 0;
    margin-left: 5%;
    width: 90%;
  }
}
