@import "scss/variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~ng-zorro-antd/style/index.min.css";
@import "assets/font/icon.css";

@import "scss/utilities";
@import "scss/colors";
@import "scss/fonts";
@import "scss/animations";
@import "scss/modules";

@import "scss/dark.theme";
@import "scss/template";

@import "scss/light.theme";
@import "scss/template";

body,
html {
  font-weight: 400;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.ant-input {
  border-radius: 0;
}

button {
  outline: none;
  box-shadow: none;
  border: none;
}

.ant-modal-content {
  box-shadow: none !important;
}

.toolbar-dropdown {
  .ant-dropdown-menu-item-divider,
  .ant-dropdown-menu-submenu-title-divider {
    margin: 0;
    margin-left: 5%;
    width: 90%;
  }
}

.modal-data-grid {
  text-align: center;

  .ant-modal {
    width: auto!important;
    display: inline-block;
    text-align: left;
  }

  .ant-modal-header,
  .ant-modal-content  {
    background-color: #24262C;
  }

  .ant-modal-content {

    .ant-modal-body {
      text-align: center;
  
      .ng-star-inserted {
        text-align: left;
      }
    }
  }

  .ant-empty {
    &-image,
    &-description {
      text-align: center!important;
    }
  }

  .ant-transfer-list-content {
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #51535A;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #737377;
    }
  }

  .ant-transfer-list,
  .ant-transfer-list-header {    
    background-color: #1B1D22;
  }
}
