@import "scss/variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~ng-zorro-antd/style/index.min.css";
@import "assets/font/icon.css";

@import "scss/utilities";
@import "scss/colors";
@import "scss/fonts";
@import "scss/animations";
@import "scss/layout";
@import "scss/modules";

@import "scss/dark.theme";
@import "scss/template";

@import "scss/light.theme";
@import "scss/template";

body,
html {
  font-weight: 400;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: $baseFontSize;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ant-btn, .ant-collapse, .ant-select {
  font-size: $baseFontSize;
}

small {
  font-size: 0.8rem;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.ant-input {
  border-radius: 0;
}

button {
  outline: none;
  box-shadow: none;
  border: none;
}

.ant-modal-content {
  box-shadow: none !important;
}

.wm-draggable {
  cursor: move;
}

.wm-window[class*="resize-"] {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    position: absolute;
    top: -3px;
    left: -3px;
    background-color: cadetblue;
    opacity: 0;
    z-index: 9000000;
  }
}

.toolbar-dropdown {
  .ant-dropdown-menu-item-divider,
  .ant-dropdown-menu-submenu-title-divider {
    margin: 0;
    margin-left: 5%;
    width: 90%;
  }
}

.hide-arrow {
  i {
    svg {
      display: none;
    }
  }
}

.watchlist-instrument-select.ant-select {
  width: 100%;
}

.modal-data-grid {
  text-align: center;

  .ant-modal {
    width: auto !important;
    display: inline-block;
    text-align: left;
  }

  .ant-modal-header,
  .ant-modal-content {
    background-color: #24262C;
  }

  .ant-modal-content {

    .ant-modal-body {
      text-align: center;

      .ng-star-inserted {
        text-align: left;
      }
    }
  }

  .ant-empty {
    &-image,
    &-description {
      text-align: center !important;
    }
  }

  .ant-transfer-list-content {
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #51535A;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #737377;
    }
  }

  .ant-transfer-list,
  .ant-transfer-list-header {
    background-color: #1B1D22;
  }

}

.bracket-active {
  color: $primary;
}
.ant-input-number:focus, .ant-input-number-focused {
  box-shadow: none;
}

.ant-input-number-handler-wrap {
  border-left: none;
}

.ant-input-number-handler-down {
  border-top: none;
}

nz-input-number {
  height: 24px;
  font-size: 0.8rem;

  .ant-input-number-input {
    height: 24px;
  }

  .ant-input-number-handler-wrap:hover .ant-input-number-handler {
    height: 50%;
  }

  .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-up-inner,
  .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-down-inner {
    mask: url('~src/assets/img/svg/arrow-up.svg');
    mask-size: 8px;
    mask-repeat: no-repeat;
    background-color: rgb(81, 83, 90);

    svg {
      display: none;
    }

  }

  .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-down-inner {
    mask-image: url('~src/assets/img/svg/arrow-down.svg');
  }

  .ant-input-number-handler-up:hover, .ant-input-number-handler-down:hover {
    height: 50% !important;
  }
}
.wm-header-btn {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 12px;
  background-color: #101114;
  border-radius: 2px;
  transition: color 0.3s;

  &:not(:first-child) {
    margin-left: 4px;
  }

  &:hover {
    color: $primary;
  }
}

.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-modal {
    top: 0;
  }

}

.ant-modal {
  .ant-modal-content {
    padding: 1px;
    border: 1px solid $lighter;

    .ant-modal-header {
      background-color: #24262C;
      border: none;
      padding: 0;

      .ant-modal-title {
        font-size: 12px;
        font-weight: 600;
        padding: 4px 8px;
      }
    }

    .ant-modal-body {
      background-color: #1B1D22;
      border-radius: 2px;
      text-align: center;
      padding: 34px 91px;
      min-width: 500px;
    }

    .ant-modal-footer {
      background-color: #1B1D22;
      border: none;
      text-align: center;
      padding: 0px 0 40px;

      .modal-btn {
        background-color: #101114;
        color: #ffffff;
        border-color: #4895F5;
      }
    }

    .ant-modal-close-x {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 13px;
    }
  }
}
