$themeName: 'scxThemeDark';
$textColor:  rgba(255, 255, 255, 0.8);
$fallingColor: #E85050;
$risingColor: #3FA7E1;
$textColorSecondary:  rgba(255, 255, 255, 0.4);
$bodyBackground: #15161D;
$borderColor:  #292C38;
$tabBackground:#21232D;
$fontFamily: Open Sans;
