@import "variables";

$themeName: 'scxThemeDark';
$fallingColor: #C93B3B; // RED
$risingColor: $primary; // BLUE
$reconnectColor: #FFA928; // NOT IN LIST
$successColor: #009950; // GREEN


$bodyBackground: #101114; // DARK BG
$tabBackground: $light; // DART 2

$tabFrameColor: #24262C; // LIGHT 1
$lightBackground: #51535A; // LIGHT 2

$textColor: #D0D0D2; // TEXT 80
$textColor60: #A1A2A5;// TEXT 60
$textColorSecondary: #737377; // TEXT 40
$titleColor: #FFFFFF; // TEXT

$fontFamily: Open Sans, sans-serif;

$borderColor:  #292C38;

$gridBackground: $bodyBackground;
