body.#{$themeName} {

  .frame {
    &.resize-up,
    &.resize-down {
      cursor: ns-resize;
    }

    &.resize-left,
    &.resize-right {
      cursor: ew-resize;
    }

    &.resize-left-up,
    &.resize-right-down {
      cursor: nwse-resize;
    }

    &.resize-left-down,
    &.resize-right-up {
      cursor: nesw-resize;
    }
  }
  
  .frame .container {
    background-color: $tabFrameColor;
    padding: 0 4px 4px 4px;

    & > header {
      justify-content: space-between;
      align-items: center;
      min-height: 28px;

      .frame-manager {
        width: 20px;
        height: 20px;
        background-color: $tabBackground;
        border-radius: 2px;
        margin-right: 6px;
        flex-shrink: 0;
      }

      .title {
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-right: 8px;
        color: $titleColor;
      }

      .tool-bar {
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;

        div {
          background-color: $bodyBackground;
          border-radius: 2px;
          padding: 3px 8px;
          font-size: 11px;
          line-height: 15px;
          height: 21px;
          margin-right: 7px;
        }
      }

      .control-bar {
        
        i.icon-close {
          width: 10px;
          height: 10px;
          mask-image: url("../assets/img/svg/close-window.svg");
          mask-size: 80%;
          mask-repeat: no-repeat;
          mask-position: center;
        }
        i.icon-maximize {
          width: 10px;
          height: 10px;
          mask-image: url("../assets/img/svg/full-screen-window.svg");
          mask-size: 80%;
          mask-repeat: no-repeat;
          mask-position: center;
        }
      }
    }

    & > section {
      background-color: $tabBackground;
      border-radius: 4px;
      height: 100%;
    }
  }
}