@import "variables";

$themeName: 'scxThemeLight';
$textColor:  #15161D;
$textColorSecondary: rgba(21, 22, 29, 0.4);
$bodyBackground: #E5E5E5;
$lightBackground:  #F1F2F7;
$fallingColor: #E85050;
$risingColor: #61D07F;;
$borderColor:  white;
$tabBackground:#FAFAFC;
$fontFamily: Open Sans, sans-serif;
$gridBackground: $borderColor
