
body.#{$themeName} {
  background: $bodyBackground;
  color: $textColor;
  font-family: $fontFamily;

  .up {
    color: $risingColor;
  }

  .down {
    color: $fallingColor;
  }

  .toolbar-dropdown nz-option-container {
    background: $tabBackground !important;
    width: 140px;

    .ant-select-item-option-content {
      color: $textColor !important;

    }

    .ant-select-item-option-selected {
      color: inherit;
      background: inherit;
    }
  }

  .ant-modal-close {
    color: $textColor;
  }

  .toolbar-dropdown {
    .ant-dropdown-menu, &.ant-select-dropdown {
      background-color: $tabBackground;
      color: $textColor !important;
      padding: 0;
    }

    .ant-select-dropdown {
      background-color: $tabBackground !important;
    }

    .ant-dropdown-menu-item-divider, .ant-dropdown-menu-submenu-title-divider {
      background-color: $textColorSecondary;
    }
  }

  .toolbar-submenu {
    background-color: $tabBackground !important;
    color: $textColor !important;
  }
   .ant-modal-content, .ant-modal-header, .ant-transfer-list-header, .ant-transfer-list-body-not-found, .ant-empty-img-simple-path{

  .ant-input, .ant-input:-webkit-autofill, .ant-input:-webkit-autofill:focus {
    background: $tabBackground;
    color: $textColor;
    -webkit-text-fill-color: $textColor;
    box-shadow: inset 0 0 0 50px $tabBackground !important;
  }

    color: $textColorSecondary !important;
    background: $tabBackground;
  }
  .ant-select-show-search, .ant-select-dropdown, .ant-select-item-option-content, .ant-select-item{
    color: $textColor !important;
    background: $tabBackground;
  }
  .ant-notification-hook-holder, .ant-notification-notice {
    background-color: $tabBackground !important;
  }

  .ant-notification-notice-close, .ant-notification-notice-with-icon .ant-notification-notice-message {
    color: $textColor !important;
  }

  .anticon.ant-notification-notice-icon-success {
    color: $risingColor;
  }

  .anticon.ant-notification-notice-icon-error {
    color: $fallingColor;
  }

  .ant-select {
    color: $textColor;
  }

  .cdk-overlay-container {
    .ant-dropdown-menu,
    .ant-select-dropdown,
    .ant-dropdown-menu-item {
      background: $lightBackground;
      color: $textColor;
      font-family: $fontFamily;
    }
  }
}

