
body.#{$themeName} {
  background: $bodyBackground;
  color: $textColor;
  font-family: $fontFamily;

  .up {
    color: $risingColor;
  }

  .down {
    color: $fallingColor;
  }

  .toolbar-dropdown nz-option-container {
    background: $tabBackground !important;
    width: 140px;

    .ant-select-item-option-content {
      color: $textColor !important;

    }

    .ant-select-item-option-selected {
      color: inherit;
      background: inherit;
    }
  }

  .toolbar-dropdown {
    .ant-dropdown-menu, &.ant-select-dropdown {
      background-color: $tabBackground !important;
      color: $textColor !important;

    }
  }

  .toolbar-submenu {
    background-color: $tabBackground !important;
    color: $textColor !important;
  }

  .ant-input, .ant-input:-webkit-autofill, .ant-input:-webkit-autofill:focus {
    background: $tabBackground;
    color: $textColor;
    -webkit-text-fill-color: $textColor;
    -webkit-box-shadow: inset 0 0 0 50px $tabBackground !important;

  }
}

