.d-grid {
  display: grid !important;
}

.flex-grow-1 {
  flex-grow: 1;
}

.text-bold {
  font-weight: 600 !important;
}

.text-small {
  font-size: 0.7rem !important;
}

.font-size-inherit {
  font-size: inherit !important;
}

.pointer-events-none {
  pointer-events: none !important;
}

