.text-bold {
  font-weight: 600 !important;
}

.text-small {
  font-size: 0.7rem !important;
}

.font-size-inherit {
  font-size: inherit !important;
}

.pointer-events-none {
  pointer-events: none !important;
}

.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.p-x-7 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.p-x-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.p-l-7 {
  padding-left: 7px !important;
}

.p-r-7 {
  padding-right: 7px !important;
}
