// Bootstrap variables
$primary: #4895F5;
$secondary: #1B1D22;
$light: #24262C;
$dark: #13141A;
$success: #009950;
$text-muted: #A1A2A5;

// Other
$navbarHeight: 60px;

$colors: (
  "green": #20908A,
  "yellow": #EBBD79,
  "blue": #3452F1,
  "pink": #C04672,
);
