// Bootstrap variables
$primary: #0C62F7;
$secondary: #1B1D22;
$light: #24262C;
$light2: #51535A;
$light3: rgba(56, 58, 64, 1);
$dark: #13141A;
$darkBackground: #101114;
$success: #009950;
$text-muted: #A1A2A5;
$inputBackground: #1B1D22;
$inputColor: white;
$text-40: #737377;
$text-60: rgba(161, 162, 165, 1);
$text-80: #D0D0D2;
$baseFontSize: 14px;
$lighter: #383A40;
$pendingColor: #F5C548;
$checkboxBorderColor: #434343;
$theme-colors: (
  "lighter": $lighter,
  "darker": $darkBackground,
);
$red: rgba(201, 59, 59, 1);
// Other
$navbarHeight: 36px;

$colors: (
  "green": #20908A,
  "yellow": #EBBD79,
  "blue": #3452F1,
  "pink": #C04672,
);
