$padding: 0;
$activeColor: #2296f3;

@import "themes/index";

:host {
  display: block;
  height: 100%;
  width: 100%;
  padding: $padding;
  // position: relative;
  color: #ffffff;

  .layout-container {
    position: relative !important;
    height: 100%;
    width: 100%;    
    overflow: auto !important;
    // & ::-webkit-scrollbar {
    //   display: none;
    // }
    .wm-container {
      position: relative !important;
      width: 100%;
      height: 100%;      
    }
   
  }
}
