$padding: 0;
$activeColor: #2296f3;

@import "golden-layout";
@import "themes/index";

:host {
  display: block;
  height: calc(100% - #{$navbarHeight});
  width: 100%;
  padding: $padding;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  color: #ffffff;

  > div {
    height: 100%;
    width: 100%;
  }

  //&.isActive {
  //  border: 1px solid rebeccapurple;
  //  padding: #{$padding} - 1px;
  //}
  //}

}

